.contact-us {
    .title {
        font-size: 40px;
        // font-family: "Calibre Medium";
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
    }
    h5 {
        // font-family: "Calibre Regular";
        color: #000;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.msp-order {
    .stockits-box {
        a {
            font-size: 14px;
        }
    }
    #contact-form {
        .form-group {
            .input-form {
                // margin-bottom:15px;
                .form-control {
                    border: 1px solid #000;
                    color: #000;
                    border-radius: 30px;
                    &:focus {
                        box-shadow: none;
                        border: 1px solid $red;
                    }
                }
            }
        }
    }
}

.contect {
    blockquote {
        margin-bottom: 40px;
        padding: 15px;
        border-left: 3px solid;
        background: rgba($purple, 0.2);
        p {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    .qen {
        margin-bottom: 40px;
        padding: 15px;
        border-left: 3px solid;
        background: rgba($purple, 0.2);
        p:first-child {
            color: #bf7e2e;
            font-size: 20px;
        }
        p:last-child {
            margin: 0;
            font-size: 14px;
        }
    }
}

.content-title {
    h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width:480px) {
    .content-title {
        h1 {
            font-size: 23px;
        }
    }
    .contact-us {
        .title {
            font-size: 23px;
        }
    }
}
#map_container{
    position: relative;
  }
  #map{
    height: 0;
    overflow: hidden;
    padding-bottom: 30%;
    padding-top: 30px;
    position: relative;
}
@media only screen and (max-width:767px) {
    #map{
        padding-bottom: 60%;
    
    }
}