.shop-banner-section{
    .banner-div{
        position: relative;
        padding:100px 0;
        .banner-img{
            @include bg-img;
        }
        .banner-content{
            h2{
                color:#fff;
                font-size: 3rem;
            }
            .bredcume-ul{
                li{
                    display:inline-block;
                    padding:0 20px;
                    position: relative;
                    a{
                        color:#fff;
                        display:block;
                        &:hover{
                            color:$red;
                        }
                    }
                    &::before{
                        content:'/';
                        position:absolute;
                        right:0;
                        bottom:-1px;
                        color:#fff;
                        opacity:0.7;
                    }
                    &:last-child{
                        &::before{
                            display:none;
                        }
                    }
                }
            }
        }
    }
}