.collection-list{
    padding:40px 0;
    background: #F2F3F3;
    .product-box{
        margin-bottom:30px;
        .product-img-box{
            position:relative;
            overflow:hidden;
            margin-bottom:20px;
            background: #ffffff;
            &::before{
                content:'';
                padding-top:100%;
                display:block;
            }
            img{
                @include product-img;
                padding:15px;
            }
            .hover-div{
                position:absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                background: rgba($black, .5);
                display:none;
                align-items: center;
                .outline-btn{
                    margin:auto;
                }
            }
            &:hover{
                .hover-div{
                    display:flex;
                }
            }
        }
    }
}