.collection-shop-section{
    padding:40px 0;
    padding-top:50px;
    background:#F2F3F3;
    .follter-main_item-dv{
        display:flex;
        align-items:center;
    }
    .btn_body{
        width:100%;
        margin-bottom:20px;
    }
    .hide_btn{
        display:none;
    }
    .filter-item_div{
        width:50%;
        display: flex;
        align-items: center;
        label{
            margin-right:15px;
            margin-bottom: 0;
        }
        .fillter-item-ul{
            list-style: none;
            padding-left:0;
            margin-bottom: 0;
            border:1px solid rgba($black, .2);
            border-radius: 7px;
            display:flex;
            overflow: hidden;
            li{
                // padding:9px 14px;
                padding:0px;
                border-right:1px solid rgba($black, .2);
                cursor: pointer;
                .radio_container{
                    height:32px;
                    width:35px;
                    text-align: center;
                    padding: 5px;
                    margin-right:0px;              
                }
                input{
                    left:0;
                    position: absolute;
                    opacity: 0;
                    width:100%;
                    top: 0;
                    height: 32px;
                    &:checked{
                        ~ .radio_container{
                            background: $black;
                            color:$white;
                        }
                    }
                    
                }
                &:last-child{
                    border-right:none;
                }
                &:hover{
                    background:$black;
                    color:#ffffff;
                }
            }

        }
    }
    .fillter_div_main{
        padding:25px 20px;
        background:#ffffff;
        @media (max-width:992px){
            display: none;
        }
        .accordion {
            background:none;
            padding:0;
            color: unset;
            font-size: unset;
            font-weight: unset;
            .fa{
                margin-right: 1rem;
            }
            .card{
                border-bottom: 1px solid rgba($black, 0.125);
                .card-header{
                    background: none;
                    padding-left: 0;
                    padding-right: 0;
                    border-bottom:0;
                    h2{
                        font-size: unset;
                    }
                    .btn-link{
                        padding:0;
                        color:$black;
                        font-weight:600;
                        text-transform: uppercase;
                        font-size:18px;
                    }
                }
                .card-body{
                    padding: 0;
                    padding-top:12px;
                    .search-div{
                        position: relative;
                        input{
                            border:1px solid rgba($black, .2);
                            padding:10px 15px;
                            font-size:16px;
                            color:$red;
                            width:100%;
                            border-radius:5px;
                            margin-bottom:25px;
                        }
                        .search-btn{
                            position: absolute;
                            right: 10px;
                            top: 8px;
                            border: none;
                            background: none;
                            font-size: 18px;
                            i{
                                margin-right:0 !important;
                            }
                        }
                    }
                    .price-filltr{
                        display:flex;
                        margin-bottom:30px;
                        input{
                            width:80px;
                            padding:10px;
                            border-radius:5px;
                            color:$red;
                            font-size:18px;
                            text-align: center;
                            margin-right:10px;
                            border:1px solid rgba($black, .2);
                        }
                        .price-btn{
                            background:none;
                            border:none;
                            color:$white;
                            background:$red;
                            padding:5px 10px;
                            border-radius:5px;
                        }
                    }
                    .radio_div{
                        display: block;
                        position: relative;
                        padding-left: 40px;
                        margin-bottom: 15px;
                        cursor: pointer;
                        font-size: 18px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            width: 100%;
                            height:100%;
                            left:0;
                            z-index: 99;
                        }
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 25px;
                            width: 25px;
                            border:2px solid rgba($black, 0.125);
                            border-radius: 50%;
                            &::after {
                                content: "";
                                position: absolute;
                                display: none;
                                top: 4px;
                                left: 4px;
                                width: 13px;
                                height: 13px;
                                border-radius: 50%;
                                background: $red;
                            }
                        }
                        &:hover{
                            input ~ .checkmark{
                                border:2px solid rgba($black, 1);
                                    
                            } 
                        }
                        input:checked ~ .checkmark {
                            background:none;
                            border:2px solid rgba($black, 1);
                          }
                        input:checked ~ .checkmark:after {
                            display: block;
                        }
                        
                    }
                    .checkbox_div{
                        display: block;
                        position: relative;
                        padding-left: 40px;
                        margin-bottom: 15px;
                        cursor: pointer;
                        font-size: 18px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            width: 100%;
                            height:100%;
                            left:0;
                            z-index: 99;
                        }
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 25px;
                            width: 25px;
                            border:2px solid rgba($black, 0.125);
                            border-radius: 5px;
                            &::after {
                                content: "";
                                position: absolute;
                                left: 7px;
                                top: 1px;
                                width: 8px;
                                height: 15px;
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                transform: rotate(45deg);
                            }
                        }
                        &:hover{
                            input ~ .checkmark{
                                border:2px solid rgba($red, 1);
                                    
                            } 
                        }
                        input:checked ~ .checkmark {
                            background:$red;
                            border:2px solid rgba($red, 1);
                          }
                        input:checked ~ .checkmark:after {
                            display: block;
                        }
                        
                    }
                }
            }
        }
    }
    .fillter-div{
        label{
            margin-right:5px;
        }
        .select-fillter{
            border:none;
            padding:8px 20px;
            border-radius:30px;
        }
    }
    .grid-fillter{
        list-style:none;
        padding-left: 0;
        margin-bottom: 0;
        text-align: right;
        li{
            display: inline-block;
            margin:0 10px;
            cursor: pointer;
            a{
            img{
                width:30px;
                opacity:.2;
            }
            &:hover{
                img{
                    opacity:1;
                }
            }
        }
        
        }
    }
    .product-main{
        padding:0 10px;
    }
    .product_box{
        position:relative;
        margin-bottom:30px;
        background:#fff;
      
        .product_img_box{
            position:relative;
            overflow:hidden;
            background:#fff;
            margin-bottom:20px;
            &::before{
                content:'';
                padding-top:100%;
                display: block;
            }
            img{
                @include product-img;
                padding:15px;
            }
            .tag-badge{
                position:absolute;
                
                top:0;
                left:0;
                text-align: left;
                span{
                    padding:10px;
                    background:$black;
                    color:$white;
                    font-weight:500;
                    font-size:14px;
                    display: inline-block;
                }
            }
            .product_overlay{
                position:absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                background:rgba($indigo, .5);
                display: none;
                align-items: center;
                justify-content: center;
                transition: .7s;
                .btn_product{
                    background:$red;
                    width:40px;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    display: inline-block;
                    margin-right:10px;
                    border-radius:50%;
                    border:none;
                    color:#fff;
                    &:last-child{
                        margin-right:0;
                    }
                    &:hover{
                        background: $black;
                    }
                }
            }
        }
        .product_info{
            padding: 5px 10px;
            text-align:left;
            h6{
                margin-bottom:15px;
                word-break: break-word;
            }
            p{
                color:$red;
                font-weight:500;
                margin-bottom: 5px;
            }
            .item-info{
                text-align: left;
                .store-item-promo{
                    font-size: 11px;
                    padding-left: 25px;
                    display: block;
                    color: #6a6a6a;
                    text-transform: uppercase;
                    font-family: Roboto,Arial,sans-serif;
                    position: relative;
                    line-height: 12px;
                    margin: 12px 0;
                    &::before {
                        background: #66b414;
                        border-radius: 50%;
                        height: 18px;
                        width: 18px;
                        content: '$';
                        color: #f3f3f3;
                        font-weight: 700;
                        line-height: 18px;
                        padding: 2px;
                        font-size: 15px;
                        text-align: center;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .store-item-shipping{
                    font-size: 11px;
                    padding-left: 25px;
                    display: block;
                    color: #6a6a6a;
                    text-transform: uppercase;
                    font-family: Roboto,Arial,sans-serif;
                    position: relative;
                    line-height: 12px;
                    margin: 12px 0;
                    i{
                        height: 18px;
                        width: 18px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #d00;
                        padding: 2px;
                        svg {
                            fill: #f3f3f3;
                        }
                        img{
                            max-width:100%;
                            vertical-align: center;
                        }
                    }
                }
                .store-item-affirm {
                    color: #3a3a3a;
                    font-size: 11px;
                    display: block;
                    text-transform: uppercase;
                    font-family: Roboto,Arial,sans-serif;
                    position: relative;
                    line-height: 10px;
                    margin: 12px 0;
                    padding-left: 25px;
                    svg {
                        height: 18px;
                        width: 18px;
                        background: #ff8c00;
                        padding: 2px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    p{
                        color: #3a3a3a;
                    }
                }
            }
        }
        &:hover{
            .product_img_box{
                .product_overlay{
                    display: flex;
                }
            }
        }
    }
}
@media only screen and (max-width:767px){
    .collection-shop-section{
        .product_box{
            width: 100%;
            margin:auto;
            margin-bottom:20px;
        }
        .filter-item_div{
            display:none;
        }
        .main-item-text{
            display:none;
        }
        .grid-fillter{
            display:none;
        }
        .follter-main_item-dv{
            justify-content: center;
        }
        .product_box {
            .product_info {
                h6 {
                    word-break: break-word;
                }
            }
        }
    }
}