{% comment %}
Important notes about pagination:
- Never access collection.products before the opening paginate tag.
- Never paginate by more than 50.
{% endcomment %}
{% section 'banner-result' %}
{% section 'result_collection' %}