{% section 'product' %}
{% section 'icon-with-text' %}
{% section 'product-videos' %}
{% section 'shop-featured-product' %}

{% comment %}
{% section 'index-video-section' %}
{% endcomment %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{ product.title | escape }}",
    "url": "{{ shop.url }}{{ product.url }}",
    {
      %
      if product.featured_image %
    } {
      % assign image_size = product.featured_image.width | append: 'x' %
    }
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
    {
      % endif %
    }
    "description": "{{ product.description | strip_html | escape }}",
    {
      %
      if current_variant.sku != blank %
    }
    "sku": "{{ current_variant.sku }}",
    {
      % endif %
    }
    "brand": {
      "@type": "Thing",
      "name": "{{ product.vendor | escape }}"
    },
    {
      %
      if product.variants %
    }
    "offers": [{
      %
      for variant in product.variants %
    } {
      "@type": "Offer",
      "availability": "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
      "price": "{{ variant.price | divided_by: 100.00 }}",
      "priceCurrency": "{{ shop.currency }}",
      "url": "{{ shop.url }}{{ variant.url }}",
      "itemOffered": {
        "@type": "Product",
        {
          %
          if variant.image %
        } {
          % assign variant_image_size = variant.image.width | append: 'x' %
        }
        "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
        {
          % endif %
        } {
          %
          if variant.title != blank %
        }
        "name": "{{ variant.title | escape }}",
        {
          % endif %
        } {
          %
          if variant.sku != blank %
        }
        "sku": "{{ variant.sku }}",
        {
          % endif %
        } {
          %
          if variant.weight != blank %
        }
        "weight": {
          "@type": "QuantitativeValue",
          {
            %
            if variant.weight_unit != blank %
          }
          "unitCode": "{{ variant.weight_unit }}",
          {
            % endif %
          }
          "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
        },
        {
          % endif %
        }
        "url": "{{ shop.url }}{{ variant.url }}"
      }
    } {
      % unless forloop.last %
    }, {
      % endunless %
    } {
      % endfor %
    }] {
      % endif %
    }
  }
</script>