    <div class="product-main col-12 text-center">
            <div class="product_box">
                        <div class="product_img_box">
                            {% include 'responsive-image' with
                                image: product.featured_image,
                                image.alt: product.title,
                                max_width: 400,
                                max_height: 400
                            %}
                            {% comment %} <div class="product_overlay">
                                <form action="/cart/add" method="post">
                                        <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                        <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                    <a href="{{ product.url }}" class="btn_product" title="Show Details"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <button class="btn_product" title="Add to Cart" {% if product.available %} {% else %}disabled {% endif %}><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                </form>
                            </div> {% endcomment %}
                            <a href="{{product.url}}" class="product_overlay">
                            <span class="btn_product" ><i class="fa fa-eye" aria-hidden="true"></i></span>
                            <form action="/cart/add" method="post">
                                        <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                        <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                  <button class="btn_product" title="Add to Cart" {% if product.available %} {% else %}disabled {% endif %}><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                           </form>
                            </a>
                            {% if product.available %}
                            {% else %}
                            <div class="tag-badge"><span class="tag">SOLDOUT</span></div>
                            {% endif %}
                        </div>
                        <div class="product_info">
                            <a href="{{ product.url }}">
                                <h6>{{ product.title }}</h6>
                            </a>
                            <p>{{ product.price | money }}</p>
                            {% if  product.metafields.global.subtitle != blank %}
                            <span class="store-item-subtitle">{{product.metafields.global.subtitle}}</span>
                            {% endif %}<br>
                            {% if  product.metafields.global.color != blank %}
                            <span class="store-item-subtitle" style="text-transform: uppercase; font-size: 12px;">Black Milled</span>
                            {% endif %}
                            <br>
                            
                            <div class="item-info position-relative">
                            {% if  product.metafields.global.save_up != blank %}
                                <div class="store-item-promo">
                                    {{product.metafields.global.save_up}}
                                </div>
                            {% endif %}
                            {% if  product.metafields.global.packaging != blank %}
                                <div class="store-item-shipping">
                                        <i>
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.1 491.1" style="enable-background:new 0 0 491.1 491.1;" xml:space="preserve">
                                            <path transform="translate(0 -540.36)" d="M401.5,863.31c-12,0-23.4,4.7-32,13.2c-8.6,8.6-13.4,19.8-13.4,31.8s4.7,23.2,13.4,31.8
                                            c8.7,8.5,20,13.2,32,13.2c24.6,0,44.6-20.2,44.6-45S426.1,863.31,401.5,863.31z M401.5,933.31c-13.8,0-25.4-11.4-25.4-25
                                            s11.6-25,25.4-25c13.6,0,24.6,11.2,24.6,25S415.1,933.31,401.5,933.31z M413.1,713.41c-1.8-1.7-4.2-2.6-6.7-2.6h-51.3
                                            c-5.5,0-10,4.5-10,10v82c0,5.5,4.5,10,10,10h81.4c5.5,0,10-4.5,10-10v-54.9c0-2.8-1.2-5.5-3.3-7.4L413.1,713.41z M426.5,792.81
                                            h-61.4v-62.1h37.4l24,21.6V792.81z M157.3,863.31c-12,0-23.4,4.7-32,13.2c-8.6,8.6-13.4,19.8-13.4,31.8s4.7,23.2,13.4,31.8
                                            c8.7,8.5,20,13.2,32,13.2c24.6,0,44.6-20.2,44.6-45S181.9,863.31,157.3,863.31z M157.3,933.31c-13.8,0-25.4-11.4-25.4-25
                                            s11.6-25,25.4-25c13.6,0,24.6,11.2,24.6,25S170.9,933.31,157.3,933.31z M90.6,875.61H70.5v-26.6c0-5.5-4.5-10-10-10s-10,4.5-10,10
                                            v36.6c0,5.5,4.5,10,10,10h30.1c5.5,0,10-4.5,10-10S96.1,875.61,90.6,875.61z M141.3,821.11c0-5.5-4.5-10-10-10H10
                                            c-5.5,0-10,4.5-10,10s4.5,10,10,10h121.3C136.8,831.11,141.3,826.71,141.3,821.11z M30.3,785.01l121.3,0.7c5.5,0,10-4.4,10.1-9.9
                                            c0.1-5.6-4.4-10.1-9.9-10.1l-121.3-0.7c-0.1,0-0.1,0-0.1,0c-5.5,0-10,4.4-10,9.9C20.3,780.51,24.8,785.01,30.3,785.01z M50.7,739.61
                                            H172c5.5,0,10-4.5,10-10s-4.5-10-10-10H50.7c-5.5,0-10,4.5-10,10S45.2,739.61,50.7,739.61z M487.4,726.11L487.4,726.11l-71.6-59.3
                                            c-1.8-1.5-4-2.3-6.4-2.3h-84.2v-36c0-5.5-4.5-10-10-10H60.5c-5.5,0-10,4.5-10,10v73.2c0,5.5,4.5,10,10,10s10-4.5,10-10v-63.2h234.8
                                            v237.1h-82c-5.5,0-10,4.5-10,10s4.5,10,10,10h122.1c5.5,0,10-4.5,10-10s-4.5-10-10-10h-20.1v-191.1h80.6l65.2,54l-0.7,136.9H460
                                            c-5.5,0-10,4.5-10,10s4.5,10,10,10h20.3c5.5,0,10-4.4,10-9.9l0.8-151.6C491,730.91,489.7,728.01,487.4,726.11z"></path>
                                            </svg>
                                        </i>{{product.metafields.global.packaging}}
                                </div>
                            {% endif %}
                                
                            {% if  product.metafields.global.shipping != blank %}
                                <div class="store-item-shipping">
                                    <i style="background: #737373; ">
                                        <svg version="1.0" style="max-width: 20px; height: auto;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.000000 200.000000" preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                                                <path d="M230 1650 c-26 -26 -26 -64 0 -88 12 -11 74 -31 158 -51 l138 -32 71
                                                -401 c62 -345 75 -403 94 -424 l22 -24 428 0 c392 0 429 1 448 18 16 12 44 88
                                                102 267 43 138 84 258 89 267 18 32 11 58 -22 78 -64 39 -89 19 -124 -99 -14
                                                -47 -48 -157 -75 -244 l-50 -157 -359 0 c-198 0 -360 2 -360 5 0 2 -20 98 -44
                                                212 -24 114 -56 278 -71 363 -33 195 -42 227 -63 239 -22 11 -323 91 -345 91
                                                -10 0 -26 -9 -37 -20z"></path>
                                                <path d="M1364 1514 c-93 -86 -186 -173 -207 -193 l-37 -35 -83 82 c-45 45
                                                -88 82 -95 82 -17 0 -92 -70 -92 -85 0 -20 249 -250 270 -250 22 0 510 459
                                                510 479 0 17 -66 76 -84 76 -8 0 -90 -70 -182 -156z"></path>
                                                <path d="M794 544 c-83 -41 -86 -177 -4 -219 86 -44 180 13 180 110 0 50 -23
                                                89 -64 109 -42 20 -72 20 -112 0z"></path>
                                                <path d="M1372 540 c-67 -41 -78 -131 -23 -192 22 -24 37 -32 78 -35 47 -5 54
                                                -3 87 28 112 102 -14 277 -142 199z"></path>
                                            </g>
                                        </svg>
                                    </i>
                                  {{product.metafields.global.shipping}}
                                </div>
                            {% endif %}
                            {% if  product.metafields.global.start_price != blank %}                            
                                <div class="store-item-affirm">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M4771.7,4997.1c-505.6-70.1-926.4-283-1260.3-633.8c-292.7-307.2-474.1-645.8-556.3-1035.3c-43.5-208-43.5-655.5,2.4-870.8c84.7-401.5,314.5-812.7,614.4-1093.3c817.6-774.1,2089.9-778.9,2897.9-12.1c312,295.1,508,624.1,616.8,1028c70.1,268.5,70.1,764.4-2.4,1032.9c-205.6,769.2-805.5,1359.4-1555.3,1536C5287,5004.4,4970.1,5026.2,4771.7,4997.1z M5432.1,4377.9c263.7-70.2,599.9-283,771.6-491c394.3-476.5,469.3-1120,198.3-1671.5c-145.2-292.7-413.6-558.8-699.1-696.6c-246.7-116.1-423.3-157.2-699.1-152.4c-411.2,2.4-749.9,145.1-1045,437.8c-314.5,312-457.2,650.7-457.2,1088.5c0,437.8,142.7,776.5,457.2,1088.5C4358.1,4375.5,4887.8,4518.2,5432.1,4377.9z" fill="#F3F3F3"></path><path d="M4904.8,4097.3v-152.4l-123.4-43.5c-408.8-145.1-539.4-612-256.4-907.1c79.8-82.3,280.6-193.5,532.2-295.1c188.7-75,283-164.5,283-270.9c0-220.1-273.3-307.2-556.3-174.1c-72.6,33.9-157.2,84.7-186.3,111.3c-62.9,60.5-82.3,48.4-195.9-108.9l-75-106.4l77.4-72.6c108.9-101.6,183.8-142.7,345.9-195.9l142.7-46l7.3-150l7.3-150l137.9,7.3l137.9,7.2l7.2,145.1l7.3,147.6l120.9,43.5c227.4,79.8,408.8,331.4,408.8,566c0,212.9-145.1,399.1-401.6,515.2c-551.5,246.7-575.7,266.1-561.2,428.1c14.5,188.7,287.8,258.8,541.8,140.3c67.7-31.5,133-70.2,140.3-84.7c36.3-58.1,87.1-21.8,159.7,113.7l75,137.9l-70.1,62.9c-70.2,62.9-307.2,166.9-379.8,166.9c-24.2,0-36.3,41.1-41.1,152.4l-7.2,150l-137.9,7.3l-140.3,7.3V4097.3z" fill="#F3F3F3"></path><path d="M9053.2,677c-38.7-19.3-469.3-433-955.5-916.8l-882.9-882.9h-822.4c-749.9,0-829.7,4.8-904.7,43.5c-205.6,111.3-224.9,411.2-38.7,556.3c65.3,53.2,82.2,53.2,941,53.2c979.6,0,999,2.4,1083.7,171.8c55.6,104,55.6,314.5,4.8,423.3c-82.3,174.2,4.8,166.9-1896.4,166.9H3876.7L3705,229.5c-94.3-33.9-229.8-101.6-302.4-150c-72.6-48.4-437.8-396.7-815.2-771.6l-682.1-687l670-653.1c370.1-358,778.9-754.7,909.5-880.5l237-227.4l476.5,476.5L4675-2187h1473.1c1282,0,1480.4,4.8,1550.5,38.7c58.1,26.6,336.2,365.2,1018.3,1236C9234.6-251.9,9672.4,319,9689.3,360.1c41.1,91.9,2.4,210.4-94.3,295.1c-65.3,53.2-94.3,60.5-270.9,60.5C9193.5,715.7,9101.6,703.6,9053.2,677z" fill="#F3F3F3"></path><path d="M821.7-1756.4c-256.4-256.4-483.8-495.9-503.1-532.2c-19.3-36.3-29-91.9-21.8-123.4c19.3-70.2,2302.8-2353.6,2375.4-2375.4c29-7.2,82.2,0,120.9,21.8c36.3,19.3,278.2,246.7,534.6,503.1c420.9,425.7,464.4,476.5,464.4,551.5c0,77.4-79.8,164.5-1168.3,1250.6C1537.7-1371.8,1450.6-1292,1373.2-1292C1298.2-1292,1247.4-1335.5,821.7-1756.4z" fill="#F3F3F3"></path></g></g>
                                </svg>
                                <p class="affirm-as-low-as" id="learn-more" data-page-type="search" data-amount="102800" data-affirm-color="black">{{product.metafields.global.start_price}}</p>
                                </div>
                            {% endif %}
                            {% if  product.metafields.global.tire_type != blank %}
                                <div class="store-item-shipping"><i style="background-color:#87cefa;"><img src="https://cdn.shopify.com/s/files/1/0065/0048/3116/files/tier.png?v=1592318690"></i>{{product.metafields.global.tire_type}}</div>
                            {% endif %}

                            </div>
                        </div>
            </div>
    </div>