<div class="container-fluid" id="grad1">
    <div class="row justify-content-center text-center mt-0">
      	<div class="col-12 title_div"> 
            <p class="tag_line">{{ section.settings.tag_line }}</p>
            <h3>{{ section.settings.title }}</h3>
            {% if section.settings.enable_btn %}
            <div class="btn_container text-center my-md-5 my-3">
            <a href="{{section.settings.button_url}}" target="_blank" class="btn_banner m-auto">{{section.settings.button_label}}</a>
            </div>
            {% endif %}
      	</div>
      	{% if settings.quiz--show-on != 'model' %}
        <div class="col-12 text-center p-0 mb-2">
            <div class="card px-0 pt-4 pb-0 mb-3">
                <div class="row m-0">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <fieldset>
                                <div class="form-card">
                                  <h4 class="fs-title">{{ section.settings.f_title }}</h4>
                                  <div class="main_wrapper">
                                    {% for block in section.blocks %}
                                      {% if block.type == 'brad' %}
                                      <div class="cc-selector">                                    
                                        <input id="tyre_type" type="radio" name="tyre_type" value="{{block.settings.tag_brand}}" />
                                        <label class="drinkcard-cc" for="Dodge">
                                          {% include 'responsive-image' with
                                              image: block.settings.brand_img,
                                              image.alt: block.settings.tag_brand,
                                              max_width: 300,
                                              max_height: 300
                                          %}
                                          <span class="title_box">{{block.settings.brand}}</span>
                                          </label>
                                      </div>
                                      {% endif %}
                                    {% endfor %}
                                  </div>
                                </div> 
                              
                              <input style="display:none;" id="brand_next" type="button" name="next" class="next action-button" value="Next" disabled/>
                            
                          </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h4 class="fs-title">{{ section.settings.s_title }}</h4>
                                 <div class="main_wrapper">
                                   {% for block in section.blocks %}
                                     {% if block.type == 'year' %}
                                         <div class="cc-selector year_div d-none" data-brand="{{ block.settings.type }}">                                    
                                           <input type="radio" name="btn_year" value="{{block.settings.tag_year | upcase }}" />
                                           <label class="drinkcard-cc" for="Dodge">
                                             {% include 'responsive-image' with
                                                image: block.settings.year_img,
                                                image.alt: block.settings.year,
                                                max_width: 300,
                                                max_height: 300
                                            %}
                                            <span class="title_box">{{block.settings.year}}</span>
                                          </label>
                                         </div>
                                     {% endif %}
                                   {% endfor %}
                                  </div>
                                </div> 
                              <input id="pre_btn" type="button" name="previous" class="previous btn_body" value="Back" /> <input style="display:none;" id="year_btn" type="button" name="next" class="next action-button" value="Next" disabled/>
                            </fieldset>
                          
                          <fieldset>
                                <div class="form-card">
                                    <h4 class="fs-title">{{ section.settings.t_title }}</h4>
                                 <div class="main_wrapper">
                                     {% for block in section.blocks %}
                                       {% if block.type == 'model' %}
                                       <div class="cc-selector model_div d-none" data-brand="{{ block.settings.type }}">
                                         <input type="radio" name="model_div" value="{{ block.settings.model | replace:' ','' }}" />
                                         <label class="drinkcard-cc" for="Dodge">
                                           {% include 'responsive-image' with
                                                image: block.settings.model_img,
                                                image.alt: block.settings.model,
                                                max_width: 300,
                                                max_height: 300
                                            %}
                                            <span class="title_box">{{block.settings.model}}</span>
                                          </label>
                                       </div>
                                       {% endif %}
                                   {% endfor %}
                                  </div>
                                </div> 
                              <input id="cheack_pre" type="button" name="previous" class="previous btn_body" value="Back" /> <input id="model_btn" type="button" name="next" class="next action-button" style="display:none;" value="Next" disabled />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h4 class="fs-title">{{ section.settings.fourth_title }}</h4>                                   
                                   <div class="main_wrapper">                                   
                                     {% for block in section.blocks %}
                                       {% if block.type == 'ring' %}
                                       <div class="cc-selector ring_div">
                                      <input type="radio" name="btn_ring" value="{{ block.settings.tag_ring }}" />
                                        <label class="drinkcard-cc" for="toyoto">
                                            {% include 'responsive-image' with
                                                image: block.settings.ring_img,
                                                image.alt: block.settings.ring,
                                                max_width: 300,
                                                max_height: 300
                                            %}
                                         <span class="title_box">{{block.settings.ring}}</span> 
                                        </label>
                                    </div>
                                       {% endif %}
                                   {% endfor %}
                                  </div>                                   
                              </div> <input type="button" name="previous" class="previous btn_body" value="Back" /> <input  style="display:none;" id="finish_btn" type="button" name="make_payment" class="next action-button" value="Finish" disabled/>
                          </fieldset>
                          <fieldset>
                            <div class="form-card re_loader">
                              <h4 class="fs-title text-center">Your Products!</h4> <br><br>
                              <div class="row justify-content-center">
                                <div class="col-3 l_d-flex"> 
                                  <div class="loader"></div>
                                </div>
                                <p>Loading...</p>
                              </div>
                            </div>
                          </fieldset>
                      </form>
                    </div>
                </div>
            </div>
        </div>
      	{% else %}
      <button type="button" class="btn btn-primary btn_model" data-toggle="modal" data-target=".bs-example-modal-lg"> Start Wheel Quiz </button>

      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-content">

            <div class="col-12 text-center p-0 mt-3 mb-2">
              <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <div class="row">
                  <div class="col-md-12 mx-0">
                    <form id="msform">
                      <fieldset>
                        <div class="form-card">
                          <h2 class="fs-title">{{ section.settings.f_title }}</h2>
                          <div class="main_wrapper">
                            {% for block in section.blocks %}
                            {% if block.type == 'brad' %}
                            <div class="cc-selector">                                    
                              <input id="tyre_type" type="radio" name="tyre_type" value="{{block.settings.tag_brand}}" />
                              <label class="drinkcard-cc" for="Dodge">
                                {% include 'responsive-image' with
                                    image: block.settings.brand_img,
                                    image.alt: block.settings.brand,
                                    max_width: 300,
                                    max_height: 300
                                %}
                                <span class="title_box">{{block.settings.brand}}</span>
                              </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                          </div>
                        </div> 

                        <input style="display:none;" id="brand_next" type="button" name="next" class="next action-button" value="Next" disabled/>

                      </fieldset>
                      <fieldset>
                        <div class="form-card">
                          <h2 class="fs-title">{{ section.settings.s_title }}</h2>
                          <div class="main_wrapper">
                            {% for block in section.blocks %}
                            {% if block.type == 'year' %}
                            <div class="cc-selector year_div d-none" data-brand="{{ block.settings.type }}">                                    
                              <input type="radio" name="btn_year" value="{{block.settings.tag_year}}" />
                              <label class="drinkcard-cc" for="Dodge">
                                  {% include 'responsive-image' with
                                      image: block.settings.year_img,
                                      image.alt: block.settings.year,
                                      max_width: 300,
                                      max_height: 300
                                  %}
                                
                                  <span class="title_box">{{block.settings.year}}</span>
                              </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                          </div>
                        </div> 
                        <input id="pre_btn" type="button" name="previous" class="previous btn_body" value="Back" /> <input style="display:none;" id="year_btn" type="button" name="next" class="next action-button" value="Next" disabled/>
                      </fieldset>

                      <fieldset>
                        <div class="form-card">
                          <h2 class="fs-title">{{ section.settings.t_title }}</h2>
                          <div class="main_wrapper">
                            {% for block in section.blocks %}
                            {% if block.type == 'model' %}
                            <div class="cc-selector model_div d-none" data-brand="{{ block.settings.type }}">
                              <input type="radio" name="model_div" value="{{ block.settings.model }}" />
                              <label class="drinkcard-cc" for="Dodge">
                                  {% include 'responsive-image' with
                                      image: block.settings.model_img,
                                      image.alt: block.settings.model,
                                      max_width: 300,
                                      max_height: 300
                                  %}
                                  <span class="title_box">{{block.settings.model}}</span>
                              </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                          </div>
                        </div> 
                        <input id="cheack_pre" type="button" name="previous" class="previous btn_body" value="Back" /> <input id="model_btn" type="button" name="next" class="next action-button" style="display:none;" value="Next" disabled />
                      </fieldset>
                      <fieldset>
                        <div class="form-card">
                          <h2 class="fs-title">{{ section.settings.fourth_title }}</h2>  
                          <div class="main_wrapper">                                   
                            {% for block in section.blocks %}
                            {% if block.type == 'ring' %}
                            <div class="cc-selector ring_div">
                              <input type="radio" name="btn_ring" value="{{ block.settings.tag_ring }}" />
                              <label class="drinkcard-cc" for="toyoto">
                                {% include 'responsive-image' with
                                      image: block.settings.ring_img,
                                      image.alt: block.settings.ring,
                                      max_width: 300,
                                      max_height: 300
                                  %}
                                  <span class="title_box">{{block.settings.ring}}</span>
                              </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                          </div>                                   
                        </div> <input type="button" name="previous" class="previous btn_body" value="Back" /> <input style="display:none;" id="finish_btn" type="button" name="make_payment" class="next action-button" value="Finish" disabled/>
                      </fieldset>
                      <fieldset>
                        <div class="form-card re_loader">
                          <h2 class="fs-title text-center">Your Products!</h2> <br><br>
                          <div class="row justify-content-center">
                            <div class="col-3 l_d-flex"> 
                              <div class="loader"></div>
                            </div>
                            <p>Loading...</p>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
      	{% endif %}
    </div>
</div>

<script>
//quiz section
            $(document).ready(function(){
              console.log("all json==>", Shopify);
              var CreateURL = window.location.href; 
                var current_fs, next_fs, previous_fs; //fieldsets
                var opacity;
                
                $(".next").click(function(){
                
                  current_fs = $(this).parent();
                  console.log("current_fs",current_fs);
                  next_fs = $(this).parent().next();
                
                //Add Class Active
                // $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                
                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;
                
                current_fs.css({
                'display': 'none',
                'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
                },
                duration: 600
                });
                });
                  function next(val,next_val){
                    current_fs = val;
                    next_fs = next_val;
                
                    //Add Class Active
                    // $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                
                    //show the next fieldset
                    next_fs.show();
                    //hide the current fieldset with style
                    current_fs.animate({opacity: 0}, {
                      step: function(now) {
                        // for making fielset appear animation
                        opacity = 1 - now;
                
                        current_fs.css({
                          'display': 'none',
                          'position': 'relative'
                        });
                        next_fs.css({'opacity': opacity});
                      },
                      duration: 600
                    });
                  }
                $(".previous").click(function(){
                
                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();
                
                //Remove class active
                // $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
                
                //show the previous fieldset
                previous_fs.show();
                
                //hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;
                
                current_fs.css({
                'display': 'none',
                'position': 'relative'
                });
                previous_fs.css({'opacity': opacity});
                },
                duration: 600
                });
                });
                
                $('.radio-group .radio').click(function(){
                $(this).parent().find('.radio').removeClass('selected');
                $(this).addClass('selected');
                });
                
                $(".submit").click(function(){
                return false;
                })
                var radioValue,year, model,ring;
                var currant,next_val;
                  $("input[name='tyre_type']").click(function(){
                  radioValue = $("input[name='tyre_type']:checked").val();
                  $("#brand_next").prop('disabled', false);
                  var brand_val = [];
                  $( ".year_div").each(function( index , data ) {
                    var value = $(data).data("brand");
                    brand_val.push(value);
                    if(radioValue == $(data).data("brand")){
                        $(data).removeClass("d-none");
                    }else {
                      $(data).addClass("d-none");
                    }
                  });
                    
                  currant = $(this).closest("fieldset");
                    next_val = $(this).closest("fieldset").next();
                    next(currant,next_val);
                    test_next();
                  
                  
                  function test_next() {
                    var f = 0;
                    $(".year_div").each(function(i,data){
                      var new_value = $(this).data("brand");
                      if(radioValue == new_value){
                        f = 1;
                      }
                    });
                    
                    if(f == 0) {
                      $("#year_btn").click();
                    }
                  }
                  $("#cheack_pre").click(function(){
                    test_pre();
                  });
                  
                  function test_pre(){
                    var f = 0;
                    $(".year_div").each(function(i,data) {
                      var new_value = $(this).data("brand");
                      if(radioValue == new_value){
                        f = 1;
                      }
                    });
                    
                    if(f == 0) {
                      $("#pre_btn").click();
                    }
                  }
                  
                  $( ".model_div").each(function( index , data ) {
                    var value = $(data).data("brand");
                //     console.log(value);
                    if(radioValue == $(data).data("brand")){
                     $(data).removeClass("d-none");
                    }else {
                      $(data).addClass("d-none");
                    }
                  });
                });
                
                  
                  $("input[name='btn_year']").click(function(){
                    currant = $(this).closest("fieldset");
                    next_val = $(this).closest("fieldset").next();
                    next(currant,next_val);
                     year = $("input[name='btn_year']:checked").val();
                    $("#year_btn").prop('disabled', false);
                    console.log(year);
                  });
                  
                  $("input[name='model_div']").click(function(){
                    currant = $(this).closest("fieldset");
                    next_val = $(this).closest("fieldset").next();
                    next(currant,next_val);
                     model = $("input[name='model_div']:checked").val();
                    $("#model_btn").prop('disabled',false);
                    console.log(model);
                    
                  });
                  $("input[name='btn_ring']").click(function(){
                    ring = $("input[name='btn_ring']:checked").val();
                    $("#finish_btn").prop('disabled',false);
                    console.log(ring)
;
                    $("#finish_btn").click();
                  });
                  var Shopify = Shopify || {};
                  Shopify.shop
                  $("#finish_btn").click(function(){
                    localStorage.setItem("Brand", radioValue );
                    localStorage.setItem("Year", year );
                    localStorage.setItem("Model", model );
                    localStorage.setItem("Ring", ring );
                    $(".close").click();

                      {% if content_for_header contains "previewBarInjector.init();" %}
                            
                            window.location.href = 'https://wheelsbelowretail.com/collections/result/'+ radioValue + '+' + model + '+'+ ring;
                              {% elsif content_for_header contains "Shopify.designMode" %}
                            var demo ='https://'+localStorage.getItem("Shopify_store_url")+'/admin/themes/'+localStorage.getItem("Shopify_store_id")+'/editor?previewPath=%2Fcollections%2Fresult%2F'+radioValue+'%2B'+model+'%2B'+ring+'%2B';
                                window.open(demo, '_blank');
                                {% comment %} document.location = demo; {% endcomment %}
                            {% else %}
                            window.location.href = 'https://wheelsbelowretail.com/collections/result/'+ radioValue + '+' + model + '+'+ ring;
                            {% endif %}          
                   
                   
                    {% comment %} if(typeof(year) == 'undefined'){
                      window.location.href = 'https://wheelsbelowretail.com/collections/result/'+ radioValue + '+' + model + '+'+ ring;
                    }
                    else{ + '+' + model + '+' + ring
                    window.location.href = 'https://wheelsbelowretail.com/collections/result/'+ radioValue + '+' + year + '+'+ model + '+' + ring;
                        } {% endcomment %}
                        
                  });
                });
</script>