.acc {
    h1 {
        font-size: 40px;
        color: $black;
        text-transform: uppercase;
    }
    .form-control {
        background-color: transparent;
        border: 2px solid rgba($black,.2);
        outline: none;
        width: 100%;
        // box-shadow: 0px 0px 15px 0px rgba(234, 11, 208, 0.3);
        background: none;
        color: #000;
        margin-bottom: 15px;
        border-radius: 30px;
        padding: 10px 15px;
        &:focus {
            box-shadow: none;
            border:2px solid rgba($red,1);
        }
    }
    .button-all{
        margin-top: 30px !important;
    }
    a{
        color:$red;
        text-decoration:underline;
    }
    .cnl {
        background-color: transparent;
        border: 0;
        color:$red;
        text-decoration:underline;
    }
}

.contact-form {
    p {
        font-size: 14px;
    }
}

@media only screen and (max-width:480px) {
    .acc {
        h1 {
            font-size: 30px;
        }
    }
}