.footer {
    // background-color: #252932;
    background-color: $black;
    .fst-col {
        img {
            width: 100%;
            margin-bottom: 20px;
        }
        p{
            color:#8c8c8c !important;
        }
        
    }
    .footer-top{
        ul {
            li {
                a {
                    color: #8c8c8c !important;
                    &:hover {
                        color: $red !important;
                    }
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
        .widget_1{
            padding-left:30px;
        }
        .widget_3{
            .news_letter_div{
                .form_fotoer_div{
                    margin-top:15px;
                    position:relative;
                    input{
                        width:100%;
                        background:#fff;
                        color:$black;
                        font-size:17px;
                        padding:8px 15px;
                        border-radius:30px;
                        border:none;
                        outline:none;
                        padding-right: 50px;
                    }
                    .btn_news_letter{
                        position:absolute;
                        top:0;
                        right:5px;
                        background:none;
                        color:$black;
                        border:none;
                        font-size: 22px;
                        padding: 0px 10px;
                        height: 100%;
                        &:hover{
                            color:$red;
                        }
                    }
                }
            }
            .social_links{
                margin-top:25px;
                p{
                    color:#fff;
                    font-weight:bold;
                    text-transform:uppercase;
                }
                .social_ul{
                    list-style: none;
                    margin:0;
                    padding-left:0;
                    li{
                        display:inline-block;
                        margin-right:5px;
                        a{
                            display:block;
                            width:40px;
                            height:40px;
                            border-radius:50%;
                            background:rgba(#8c8c8c, .5);
                            color:#8c8c8c !important;
                            line-height:44px;
                            text-align:center;
                            &:hover{
                                background:$red !important;
                                color:#fff !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-btm {
        border-top: 1px solid rgba(#b7bcc8, 0.1);
        p {
            // color:#b7bcc8;
            color: #fff;
            a {
                // color:$indigo;
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        .fst-col {
            margin-bottom: 30px;
            img {
                width: 40%;
            }
            ul {
                max-width: fit-content;
                margin: auto;
                margin-bottom: 20px !important;
            }
        }
        .widget_3{
            margin-top:30px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .footer {
        .fst-col {
            img {
                width: 60%;
            }
            ul {
                max-width: fit-content;
                margin: auto;
                margin-bottom: 20px !important;
            }
        }
    }
}