.topbar{
    padding:6px 15px;
    background:$indigo;
}
.is-sticky{
    .site-header{
        z-index:99999 !important;
        box-shadow: 0 0 2px 0px rgba($black,.5);
    }
}
.site-header{
    box-shadow: 0 0 2px 0px rgba($black,.5);
}
.main-header{
    background:#fff;
    .toggle-btn{
        background: none;
        color:$red;
        border:none;
        font-size:22px;
    }
    .img-div{
        position:relative;
        width:100%;
        img{
            
            width:112%;
        }
    }
    
    .right-menu{
        .ul-right-menu{
            li{
                display:inline-block;
                a{
                     color:$indigo;
                     font-size:20px;
                     width:40px;
                     height:40px;
                     border-radius:50%;
                     display:block;
                     line-height:40px;
                     margin-right:5px;
                     text-align:center;
                }
                &:hover{
                    a{
                        color:$red;
                        
                    }
                }
            }
        }
    }
    .main-menu_head{
        .ul-menu{
            text-align: center;
            li{
                position: relative;
                display:inline-block;
                a{
                    color:$black;
                    font-size:16px;
                    font-weight:550;
                    padding:40px 10px; 
                    display: block;
                    text-transform:upppercase;
                }
                
                &:hover{
                    a{
                        color:$red;
                    }
                    .submenu_ul {
                        display: block;
                    }
                }
              }
            .submenu_ul {
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;
                    background: #dd0707;
                    padding-left: 0;
                    display: none;
                    transition: .7s;
                    z-index: 99;
                    li {
                        display: block;
                        border-bottom: 1px solid hsla(0, 0%, 100%, .2);
                        a{
                            color: #fff;
                            padding: 12px 15px;
                            font-size: 15px;
                            font-weight: 400;
                            &:hover{
                                color:#fff;
                            }
                         }
                         &:hover{
                             .fa{
                                transform: rotate(270deg);
                             }
                            background: rgba(0, 0, 0, .1);  
                           + .petachild_ul{
                                display: block !important;
                            } 
                         }
                    }
               .petachild_ul{ 
                top:0;
                position: absolute;
                left: 100%;
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                padding-left: 0;
                display: none;
                transition: .7s;
                z-index: 99;
                height: 300px;
                overflow-x: auto;
                li{
                    background: #dd0707;
            
                    a{
              
                    padding:10px 10px;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
                &:hover{
                    display:block;
                }
                
                
               }
               .petachild_ul::-webkit-scrollbar {
                width: 12px;
            }
             
            .petachild_ul::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px #fff;
                box-shadow: inset 0 0 6px #fff ;
                border-radius: 10px;
            }
             
            .petachild_ul::-webkit-scrollbar-thumb {
                border-radius: 10px;
                box-shadow: inset 0 0 6px #fff; 
                background: #fff;
                -webkit-box-shadow: inset 0 0 6px #fff; 

            }
               
            }
            .megamenu_li{
                    a{
                        display: block;
                    }
                    .megamenu {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        display: none;
                        padding:10px 0px;
                       
                        .prod_box {
                            padding:0px;
                            width: 100%;
                            a{
                                padding: 0px 10px;
                                display: block;
                                .prod_img {
                                position: relative;
                                &:before {
                                    content: "";
                                    padding-top: 100%;
                                    display: block;
                                }
                                img {
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                    max-width: 100%;
                                    width: 100%;
                                    height: auto;
                                    -o-object-fit: cover;
                                    object-fit: cover
                                }
                                
                            }
                            }
                            .mega-link{
                                margin:15px 0px;
                                font-size:12px;
                            }
                        
                        }
                        .shop-all{
                            padding: 10px 30px;
                            border-radius: 0px;
                            color: #fff;
                            display:block;
                        }
                    }
                    &:hover{
                        position: unset!important;
                        .megamenu{
                            display: block;
                            z-index: 2;
                            width: 100%;
                            background: #fff;
                        }
                    }
            }
            .active_link{
                a{
                    color:$red;
                }
                
            }
        }
    }
    .mobile-menu {
        display: block !important;
        position: fixed;
        margin: 0;
        width: 100%;
        max-width: 300px;
        background-color: #fff;
        top: 0;
        bottom: 0;
        z-index: 10000;
        transition: all ease-in-out 0.5s;
        left: -100%;
        box-shadow: 0px 0px 10px 5px rgba($black, .3);
        overflow: auto;
        .mobile-menu-head {
            p {
                padding: 10px 15px 0px;
                font-size: 32px;
                line-height: 32px;
                font-weight: 600;
                text-align: right;
                margin-left: auto;
                width: max-content;
                cursor: pointer;
            }
        }
        .mobile-menu-div {
                ul {
                    li {
                        padding: 10px 15px;
                        border-bottom: 1px solid rgba($mossgreen, .1);
                        a {
                            display: block;
                            font-weight: 500;
                        }
                        .submenu_ul{
                            padding-left:0;
                            list-style:none;
                            margin-left:-15px;
                            display:none;
                            li{ 
                                padding-right:0;
                                &:last-child{
                                    border-bottom:none;
                                }
                                a{
                                    font-size:14px;
                                    padding-left:20px;
                                  
                                }
                                // &:hover{
                                   
                                //   +  .petamenu_ul{
                                //     display: block;
                                // }
                            //   }
                            }

                            .petamenu_ul{
                                padding-left:20;
                                list-style:none;
                                margin-left:-15px;
                                display:none;
                                li{
                                    border-bottom:0px;
                                &:last-child{
                                    border-bottom:none;
                                }
                                a{
                                    font-size:14px;
                                    padding-left:40px;
                                   
                                
                                }
                                // &:hover{
                                //     display: block;

                                // }
                               }
                            }

                        }
                        .active-main{
                            .fa{
                                transform:rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
}


@media only screen and (max-width: 1199px) and (min-width:992px){
    .main-header{
        .main-menu_head{
            .ul-menu{
                padding-left:0;
                li {
                    a {
                        font-size: 14px;
                        padding: 30px 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 991px) and (min-width:768px){
    .main-header{
        padding:15px;
        .img-div{
            a{
                display:block;
                text-align: center;
                img{
                    width:60%;
                }
            }
        }
    }
}
@media only screen and (max-width:767px){
    .main-header{
        padding:15px 0;
        .img-div {
            text-align: center;
            img {
                width: 60%;
            }
        }
        .right-menu{
            .ul-right-menu{
                li{
                    &:first-child{
                        display:none;
                    }
                    a{
                        width:unset;
                        height:unset;
                        margin-right:0;
                        &:first-child{
                            margin-right:15px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:480px){
    .main-header{
        padding:15px 0;
        .img-div {
            text-align: center;
            img {
                width: 100%;
            }
        }
    }
}