@mixin bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100% !important;
    width: 100%;
    height: 100%;
    max-height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

@mixin product-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100% !important;
    width: 100%;
    max-height:100% !important;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;

}