body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    // font-family: "Lato", sans-serif;
    // font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    .button-all {
        background: $indigo;
        cursor: pointer;
        border: 2px solid $indigo;
        padding: 10px 30px;
        color: $white;
        text-transform: uppercase;
        outline: none;
        font-weight: 500;
        border-radius: 30px;
        display: block;
        width: max-content;
        &:hover {
            background: #dd0707;
            color: $white !important;
            text-decoration: none;
            border: 2px solid #dd0707;
        }
    }
    .btn_banner{
        background:$red;
        border:none;
        color:#fff;
        font-size:18px;
        text-transform:uppercase;
        padding:10px 30px;
        display: block;
        width:max-content;
        border-radius: 30px;
        &:hover{
            background:#fff;
            color:$red;
        }
    }
    .btn_body{
        background:$indigo;
        border:none;
        color:#fff;
        font-size:17px;
        text-transform:uppercase;
        padding:10px 30px;
        display: block;
        width:max-content;
        border-radius: 30px;
        &:hover{
            background:$red;
            color:$white;
        }
    }
    .outline-btn{
        background:$red;
        border:none;
        color:#fff;
        font-size:15px;
        text-transform:uppercase;
        padding:10px 25px;
        display: block;
        width:max-content;
        border-radius: 30px;
        &:hover{
            background:$white;
            color:$red;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }
    .container{
        max-width: 1296px;
        width:100%;
    }
    .title_div{
        text-align:center;
        margin-bottom:50px;
        .tag_line{
            color:$red;
            margin-bottom:5px !important;
            font-weight:500;
            font-size:18px;
        }
        .title{
            color:$indigo;
        }
    }
    .main_div{
        padding:40px 0;   
}
.main_div h5{
        margin-bottom:20px;   
}
   #Search{
     background:#F0F0F0;
     padding:8px 15px;
     color:#000;
     border:1px solid #000;
     border-radius:30px;
     width: 50%;
     margin-right: 10px;
     outline:none;
   }
.search-result .btn_body,.main_div .btn_body{
padding: 8px 20px;
display:unset;
outline:none;
width:max-content;
}
.main_div .btn_body svg{
     fill:#fff;
   }
   
   .search_div{
       position:relative;
   }   
.search_div .form-control{
    background-color: transparent;
 border: 1px solid rgba(0, 0, 0, .2);
 outline: none;
 width: 100%;
 background: none;
 color: #000;
 border-radius: 30px;
 padding: 8px 15px;
}
   .btn-summit{
     position:absolute;
     right:15px;
     color:#000;
     font-size:16px;
     background:none;
     border:none;
   }
}