.banner_slider_section{
    .banner-slider{
        .slider_main_div{
            position:relative;
            overflow: hidden;
            .mob_banner{
                display:none;
            }
            .desk_banner{
                position:absolute;
                left:0;
                right:0;
                top: 0;
                bottom:0;
                width:100%;
                height:100%;
                max-height:100% !important;
                object-fit: cover;
                object-position:center;
                margin:auto;
                z-index:1;
            }
            .slide_content_div{
                position:relative;
                z-index:9;
                padding:150px 0;
                text-align: center;
                h2{
                    color:#fff;
                    margin-bottom:20px;
                }
                p{
                    color:#ffff;
                    margin-bottom:20px;
                }
                .tag_line{
                    color:$red;
                    font-size:21px;
                    text-transform: uppercase;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    font-weight: 600;
                }
                .btn_banner{
                    margin:auto;
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) and (min-width:992px){
    .banner_slider_section{
        h2{
            font-size: 3rem;
        }
    }
}
@media only screen and (max-width: 991px) and (min-width:768px){
    .banner_slider_section{
        h2{
            font-size: 2.9rem;
        }
        .banner-slider {
            .slider_main_div{
                .slide_content_div{
                    padding: 120px 0;
                }
            }
        }
    }
}

@media only screen and (max-width:767px){
    .banner_slider_section {
        h2{
            font-size: 2.4rem;
        }
        .banner-slider {
            .slider_main_div{
                .slide_content_div{
                    padding: 100px 0;
                }
            }
        }
    }
}
