.blog-section{
    padding:60px 0;
    padding-bottom:40px;
    .title-div{
        a{
            color:$red;
            font-size:18px;
            font-weight:500;
            display: block;
            text-decoration: underline;
        }
    }
    .blog_slider{
        padding:0 30px;
        margin-bottom:0;
        .blog-box{
            position:relative;
            padding:0 15px;
            .img-box{
                position: relative;
                overflow: hidden;
                margin-bottom:15px;
                &::before{
                    content:'';
                    padding-top:62%;
                    display:block;
                }
                img{
                    @include product-img;
                    height: 100%;
                }
            }
        }
        .slick-prev {
            left: 0px;
            top:42%;
        }
        .slick-next {
            right: 0px;
            top:42%;
        }
        .slick-prev:before {
            content:"";
           background: url("https://cdn.shopify.com/s/files/1/0065/0048/3116/files/left.png?v=1589554313") no-repeat;
           padding:6px;
           z-index:5;
        }
        .slick-next:before {
            content:"";
           background: url("https://cdn.shopify.com/s/files/1/0065/0048/3116/files/right.png?v=1589554320") no-repeat;
           padding:6px;
           z-index:5;
        } 
        .slick-dots{
            bottom:-20px;
            right: 0px;
            li{
                width: 25px;
                height: 2px;
                button{

                    width: 25px;
                    height: 2px;
                    padding:1px;
                    background: #d8d8d8;
                    &:before{
                        transition: width 1.5s;
                        content:"";
                        width: 25px;
                        height: 2px;
                    }
                }

            }
            li.slick-active{

                width:50px;
                button{
                    width:50px;
                    &:before{
                        width:50px;
                        background: #111;                        
                    }
                }

            }

        }
    }
}
@media only screen and (max-width: 991px) and (min-width:768px){
    .blog-section{
        .title-div{
            text-align: center;
            margin-bottom:30px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .blog-section{
        .title-div{
            text-align: center;
            margin-bottom:30px;
        }
    }
}
// @media only screen and (max-width: 767px){

// }