.brand-section{
    padding:30px;
    background:#F2F3F3;
    .brand_slider{
        .slide_div{
            display:inline-block;
            width:calc( 100% / 6 - 4px );
            padding: 0px 20px;
            img{
                max-width:100%;
            }
        }
    }
}