.conection-section{
    padding:40px 0;
    background:$red;
    margin-top:40px;
    .conection_box{
        display: flex;
        align-items: center;
        justify-content: center;
        border-right:1px solid rgba($white, 0.4);
        .conection_img{
            img{
                width:50px;
                margin-right:15px;
            }
        }
        .conection_txt{
            &:hover{
                a{
                    h6, p{
                        text-decoration: underline;
                    }
                }
            }
            h6{
                color:$white;
                font-size:14px;
                margin-bottom:3px;
            }
            p{
                color:$white;
                font-size:12px;
                margin-bottom: 0;
            }
        }
    }
    .conection_box_3{
        border-right: none;
        img{
            width:60px !important;
        }
    }
}

@media only screen and (max-width: 767px){
    .conection-section {
        .conection_box{
            margin-bottom: 20px;
            border-right: none;
        }
        .conection_box_3{
            margin-bottom: 0;
        }
    }
}