.custome-banner{
    padding:40px 0;
    .img_box{
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        &::before{
            content:'';
            padding-top:150%;
            display: block;
        }
        img{
            @include bg-img;
        }
        .content_box{
            position: relative;
            z-index: 99;
            text-align: center;
            width: 100%;
            h5{
                color:$white;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .btn_banner{
                margin:auto;
                font-size:15px;
            }
        }
    }
    .video_box{
        position:relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        &::before{
            content:'';
            padding-top:71%;
            display: block;
        }
        img{
            @include bg-img;
        }
        .content_box{
            position: relative;
            z-index: 99;
            text-align: center;
            width: 100%;
            h4{
                color:$white;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .btn_banner{
                margin:auto;
                font-size:15px;
            }
        }
    }
    
}
#video-model{
    background: rgba($black,.5);
    z-index:999999999;
    .modal-dialog {
        max-width: 650px !important;
    }
    video{
        width:100%;
        height:400px;
    }
    .modal-header{
        padding:0;
        border:none;
        .close{
            margin:0;
            padding:0;
            position: absolute;
            right:-15px;
            top:-15px;
            width:30px;
            height:30px;
            line-height:30px;
            text-align: center;
            background:$red;
            opacity:1;
            border-radius:5px;
            color:$white;
            font-weight: normal;
        }
    }
}

@media only screen and (max-width: 991px) and (min-width:768px){
    .custome-banner {
        .img_box{
            &::before {
                padding-top: 157%;
            }   
        }
    }
}
@media only screen and (max-width: 767px){
    .custome-banner {
        .img_box{
            &::before {
                padding-top: 35%;
            }   
        }
       .video_box{
            margin: 20px 0;
            &::before {
                padding-top: 50%;
            }
       }
    }
}

// @media only screen and (max-width: 767px){
    
// }
// @media only screen and (max-width: 480px){
    
// }