.featured_brands_section{
    padding: 40px 0;
    margin:auto;
    .featured_brands_slider{
        padding:5px;
        margin:5px 10px;
        .featured_main{
            margin:5px;
              .featured_item{
                margin:10px 5px;
                padding: 25px 10px;
                text-align: center;
                background: #f0f0f0;
                position: relative;
                a{
                    margin:auto;  
                    img{
                        margin: auto;
                        max-width: 100%;
                    }          
                }
              }  
        }
        .slick-prev {
            left: -20px;
        }
        .slick-prev:before {
            content:"";
           background: url("https://cdn.shopify.com/s/files/1/0065/0048/3116/files/left.png?v=1589554313") no-repeat;
           padding:6px;
           z-index:5;
        }
        .slick-next:before {
            content:"";
           background: url("https://cdn.shopify.com/s/files/1/0065/0048/3116/files/right.png?v=1589554320") no-repeat;
           padding:6px;
           z-index:5;
        } 
        .slick-dots{
            li{
                width: 25px;
                height: 2px;
                button{

                    width: 25px;
                    height: 2px;
                    padding:1px;
                    background: #d8d8d8;
                    &:before{
                        transition: width 1.5s;
                        content:"";
                        width: 25px;
                        height: 2px;
                    }
                }

            }
            li.slick-active{

                width:50px;
                button{
                    width:50px;
                    &:before{
                        width:50px;
                        background: #111;                        
                    }
                }

            }

        }
    }
}

@media only screen and (max-width:1024px){
    .featured_brands_section{
        .featured_brands_slider{
            .featured_main{
                  .featured_item{
                    margin:10px 8px;
                  }  
            }
    
        }
    }
}