.featured-product{
    padding:40px 0;
    background:#F2F3F3;
    .product_box{
        position:relative;
        margin-bottom:30px;
        
        .product_img_box{
            position:relative;
            overflow:hidden;
            background:#fff;
            margin-bottom:20px;
            &::before{
                content:'';
                padding-top:100%;
                display: block;
            }
            img{
                @include product-img;
                padding:15px;
            }
            .product_overlay{
                position:absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                background:rgba($indigo, .5);
                display: none;
                align-items: center;
                justify-content: center;
                transition: .7s;
                .btn_product{
                    background:$red;
                    width:40px;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    display: inline-block;
                    margin-right:10px;
                    border-radius:50%;
                    border:none;
                    color:#fff;
                    &:last-child{
                        margin-right:0;
                    }
                    &:hover{
                        background: $black;
                    }
                }
            }
        }
        .product_info{
            text-align:center;
            h6{
                margin-bottom:15px;
            }
            p{
                color:$red;
                font-weight:500;
            }
        }
        &:hover{
            .product_img_box{
                .product_overlay{
                    display: flex;
                }
            }
        }
    }
}
@media only screen and (max-width:767px){
    .featured-product{
        .product_box{
            width: 90%;
            margin:auto;
            margin-bottom:20px;
        }
    }
}