.for-making{
    padding:40px 0;
    .nav-tabs{
        margin-bottom:30px;
        border: none;
        .nav-item{
            margin-right:50px;
            .nav-link{
                color:$black;
                border:none;
                border-bottom:2px solid #ffffff !important;
                font-size:18px;
                font-weight:500;
                padding: 10px 0;
                &:hover{
                    border:none;
                    border-bottom:2px solid #ffffff !important;
                    color:$red;
                }
            }
            .active{
                border:none;
                border-bottom:2px solid $black !important;
                color:$red;
                &:hover{
                    border-bottom:2px solid $black !important;
                }
            }
        }
    }
    .tab-content{
        .tab-pane{
            padding:15px 0;
        }
        .active{
            background:none;
        }
        .main-row{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 205px;
            overflow: hidden;
            .content_div{
                width:calc( 100% / 5 - 14px );
                margin:7px 7px;
                a{
                    display: block;
                    padding:13px;
                    font-size:17px;
                    border:2px solid rgba($black,.3);
                    &:hover{
                        border:2px solid $black;
                    }
                }
            }
        }
    }
    .btn_body{
        margin:auto;
        margin-top:30px;
    }
    .view-less{
        display:none;
    }
}
@media only screen and (max-width: 991px) and (min-width:768px){
    .for-making{
        .tab-content{
            .main-row{
                .content_div{
                    width: calc( 100% / 4 - 14px ) !important;
                    margin: 7px 7px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px){
    .for-making{
        .tab-content{
            .main-row{
                .content_div{
                    width: calc( 100% / 3 - 14px ) !important;
                    margin: 7px 7px;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px){
    .for-making{
        .tab-content{
            .main-row{
                .content_div{
                    width: calc( 100% / 2 - 14px ) !important;
                    margin: 7px 7px;
                }
            }
        }
    }
}