
.quiz-section{
    padding:40px 0;
    .title_div{
        margin-bottom:0;
    }
    .btn_body{
        margin:auto;
    }
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
  }
  
  #msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-sizing: border-box;
    margin: 0 3% 20px 3%;
    position: relative;
  }
  
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
  }
  
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  
  #msform fieldset .form-card {
    text-align: center;
    color: #000;
  }
  
  #msform .action-button {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 2px solid #000;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    transition:0.5s;
    font-size:17px;
  }
  
  
  #msform .action-button-previous {
    width: 100px;
    background: #fff;
    font-weight: bold;
    color: #000;
    border: 2px solid #000;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    transition:0.5s;
    font-size:17px;
  }
  
  #msform .action-button-previous:hover,
  #msform .action-button-previous:focus {
    background:#000;
    color:#fff;
  }
  #msform .next{
    background:#000;
    color:#fff;
  }
  #msform .next:hover{
    background:#fff;
    color:#000;
  }
  #msform .next:focus{
    background:#fff;
    color:#000;
  }
  
  
  .card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
  }
  
  .form-card .fs-title {
    color: $red;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    text-transform:capitalize;
  }
  .cc-selector{
    position:relative;
    margin:10px 5px;
    input[type="radio"]{
      opacity:0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width:100%;
      z-index:99;
      margin:0;
      padding:0;
      height:100%;
    }
  }
  
  .cc-selector input:active +.drinkcard-cc{
    opacity: 1;
  }
  .cc-selector input:checked +.drinkcard-cc{
    opacity: 1; 
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  
  }
  .drinkcard-cc{
    cursor:pointer;
    border:2px solid #000;
    display:inline-block;
    padding:15px;
    opacity:.7;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
  
  }
  .cc-selector{
    &:hover{
      .drinkcard-cc{
        opacity:1;
        filter: none;
      }
    }
  }
  
  .main_wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    .cc-selector{
      width:calc( 100% / 5 );
      .drinkcard-cc{
        font-size:17px;
        border-radius: 10px;
        width: 100%;
        
        .responsive-image__wrapper {
          position: relative;
          overflow: hidden;
          margin-bottom:15px;
          &::before{
            content:'';
            padding-top:90% !important;
            display: block;
          }
          img{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;
            width:100%;
            max-width:100% !important;
            max-height: auto !important;
            object-fit: cover;
            object-position: center;
          }
          
        }
        .title_box{
          display:block;
        }
      }
    }
  }
  
  
  .title{
    font-size:30px !important;
    font-weight:bold !important;
    color:#000 !important;
    margin:0 !important;
  }
  
  #grad1{
    .modal-dialog{
      width:90% !important;
    }
    .modal{
      background: rgba(0,0,0,.5);
    }
    .modal-header{
      border-bottom:none;
      .close{
        opacity:1;
        font-size:30px;
        background:#000;
        border-radius:5px;
        color:#fff;
        position: absolute;
        right: -4px;
        top: 50px;
        z-index: 999;
        width: 30px;
        height: 30px;
        line-height: 30px;
        span{
          color: #fff;
          display: block;
          line-height: 30px;
        }
      }
    }
  }
  .modal-backdrop{
    display:none !important;
  }
  .btn_model{
    text-align:center;
    background:#000;
    color:#fff;
    padding: 17px 30px;
    font-size: 20px;
    margin-bottom:40px;
  }
  .d-none{
    display:none;
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 600;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    height: auto;
    overflow-y: scroll;
  }
  .f-right{
    float:right;
    padding-right:30px;
    position:relative;
  }
  .f-right::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: solid 2px #000;
    border-top: solid 2px #000;
    transform: rotate(226deg);
    position: absolute;
    right: 5px;
  }
  .active .f-right::before{
    transform: rotate(45deg);
    top:5px;
  }
  .h_title{
    font-size: 18px !important;
    font-weight: 800 !important;
    padding:0 15px !important;
  }
  .f_bg{
    background: #f3f3f3;
    border: 1px solid #e3e3e3;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.11);
  }
  .f_d-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .store-ymm-header{
    position: relative;
    display: inline-block;
    background: #d00;
    color: #f3f3f3;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Roboto,Arial,sans-serif;
    line-height: 14px;
    padding: 5px 12px 6px 12px;
    margin-right: 24px;
    &:after{
      content: '';
      position: absolute;
      border-bottom: 47px solid #d00;
      border-right: 20px solid transparent;
      right: -20px;
      bottom: 0;
    }
  }
  .store-ymm-newvehsearch{
    a{
      display: inline-block;
      color: #d00;
      font-size: 12px;
      margin-left: 55px;
      font-weight: 400;
      vertical-align: super;
      cursor: pointer;
    }
  }
  .f_title{
    text-align: center;
    h1{
      font-size:20px;
      font-weight:600;
    }
    span{
      display: block;
      margin: 12px auto;
      font-family: Roboto,Arial,sans-serif;
      font-weight: 700;
      position:relative;
      &:after,&:before{
        content: '';
        display: block;
        height: 2px;
        background: #d3d3d3;
        position: absolute;
        width: 60px;
        top: 7px;
      }
      &:before{
        left: 18px;
      }
      &:after{
        right: 18px;
      }
    }
  }
  .fitrange{
    display: block;
    width: 46%;
    text-align: center;
    margin:auto;
    h5{
      display: block;
      margin: 0 0 6px 24px;
      font-size: 12px;
      text-transform: uppercase;
    }
    span{
      font-family: Roboto,Arial,sans-serif;
      display: block;
      font-size: 12px;
    }
  }
  .f_bp{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 8px auto;
  
  }
  .mb-10{
    margin-bottom:20px;
  }
  .re_loader{
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      text-align:center;
    }
    p{
      text-align:center;
    }
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .l_d-flex{
      display:flex;
      justify-content:center;
    }
  }
  @media only screen and (max-width: 991px) and (min-width:768px){
    .main_wrapper{
      flex-wrap:wrap;
      .cc-selector{
        width:calc( 100% / 3 - 10px );
      }
    }
  }
  @media only screen and (max-width: 425px) {
    .main_wrapper{
      flex-wrap:wrap;
      .cc-selector{
        width:40%;
      }
    }
  }