.service_provide{
    margin-bottom:40px;
    margin-top:-7px;
    .main_box{
        padding:30px 15px;
        img{
            @include bg-img;
            z-index:1;
        }
        .service_provid_box{
            position: relative;
            z-index:9;
            width:60%;
            margin-left:auto;
            padding-left:20px;
            p{
                font-size:14px;
            }
            .btn_body{
                font-size:15px;
                padding:8px 30px;
            }
        }
    }
}
@media only screen and (max-width: 991px) and (min-width:768px){
    .service_provide {
        .main_box {
            img{
                object-position: right;
            }
            .service_provid_box{
                padding-left:0px;
                width:100%;
            }
        }
    }
}