.who-we-are{
    padding:40px 0;
    padding-bottom:80px;
    .who-content_div{
        .title_div{
            margin-bottom:15px;
            text-align: left;
        }
        p{
            margin-bottom:15px;
        }
    }
    .img_div_who{
        img{
            width:100%;
        }
    }
}
@media only screen and (max-width: 991px) and (min-width:768px){
    .who-we-are {
        .who-content_div{
            .title_div{
                text-align:center;
            }
            p{
                text-align: center;
            }
            .btn_body{
                margin:auto;
            }
        }
    }
}