.why-choose-us{
    padding:40px 0;
    width:85%;
    margin:auto;
    .main_why_choos{
        .choose-box{
            margin-bottom:30px;
            display: flex;
            .circle_div{
                width: 60px;
                height: 60px;
                background: #F2F3F3;
                border: 2px solid transparent;
                border-radius: 50%;
                text-align: center;
                font-size: 23px;
                font-weight: bold;
                color: $black;
                line-height: 57px;
                &:hover{
                    color:$red;
                    border:2px solid $red;
                }
            }
            .left{
                text-align:left;
                margin-left:20px;
                width: calc( 100% - 100px );
            }
            .right{
                text-align:right;
                margin-right:20px;
                width: calc( 100% - 100px );
            }
        }
        .choos_img_box{
            width:100%;
            img{
                @include bg-img;
                object-fit: scale-down;
            }
        }
    }
}
@media only screen and (max-width: 1199px) and (min-width:992px){
    .why-choose-us{
        width:100%;
    }
}
@media only screen and (max-width: 991px) and (min-width:768px){
    .why-choose-us{
        .main_why_choos{
            .choose-box{
                .right{
                    text-align:left;
                    margin-right:0;
                    margin-left:20px;
                }
            }
        }
    }
}
@media only screen and (max-width:767px){
    .why-choose-us{
        width:90%;
        .main_why_choos{
            .choose-box{
                .right{
                    text-align:left;
                    margin-right:0;
                    margin-left:20px;
                }
            }
        }
    }
}