.icon-with-text{
    padding: 40px 0;
    margin:auto;
    .icon-text-main{
        .icon-text-item{
        text-align: center;
            img{
                margin: auto;
                max-width: 100%;
                margin-bottom: 15px;
            }
            .heading{
                text-transform: uppercase;
                font-weight: 700;
                color: #444;
                font-size:14px;
            }
            .subheading{
                color: #666;
                font-size: 12px;
            }
        }

    }
}

@media only screen and (max-width:767px){
    .icon-with-text{
        .icon-text-main{
             .icon-text-item{
                 width:50%;
                 margin:auto;
                 flex-basis: 50%;
                 margin-bottom: 20px;
             }
        }

    }

}
@media only screen and (max-width:480px){
    .icon-with-text{
        .icon-text-main{
             .icon-text-item{
                 width:100%;
                 margin:auto;
                 flex-basis: 100%;
                 margin-bottom: 20px;
             }
        }

    }

}