.product-detail-section {
    padding-top: 30px;
    .bredcume-ul {
        margin-bottom: 30px;
        li {
            display: inline-block;
            position: relative;
            &:not(:last-child) {
                margin-right: 19px;
                &::before {
                    content: "/";
                    position: absolute;
                    top: 0;
                    right: -14px;
                    color: $indigo;
                    font-size: 12px;
                }
            }
            a {
                display: block;
                font-weight: 400;
                font-size: 14px;
                font-family: "Calibre Regular";
            }
        }
    }
    .product-nav {
        .pro-nav-ul {
            .slick-list {
                padding: 0px !important;
            }
            li {
                margin-bottom: 5px !important;
                a {
                    img {
                        width: 100%;
                        height: auto;
                        border: 2px solid;
                        border-color: #fff;
                        opacity: .3;
                    }
                }
            }
            .slick-current {
                img {
                    border-color: $indigo;
                    opacity: 1;
                }
            }
        }
    }
    .product-slider {
        .product-img {
            img {
                width: 100% !important;
            }
        }
        .slick-next {
            right: 10px;
            background: rgba(255, 255, 255, .3);
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;
            &::before {
                content: "\f105";
                font-family: FontAwesome;
                font-size: 23px;
                line-height: 30px;
                color: $black;
            }
        }
        .slick-prev {
            left: 10px;
            z-index: 99;
            background: rgba(255, 255, 255, .3);
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;
            &::before {
                content: "\f104";
                font-family: FontAwesome;
                font-size: 23px;
                line-height: 30px;
                color: $black;
            }
        }
    }
    .product-detail-content {
        .product-head {
            h5 {
                color: #000;
                font-weight: 400;
            }
            p {
                // color: $indigo;
                margin-bottom: 5px;
            }
            .price-text {
                display: flex;
                align-items: center;
                small {
                    font-size: 16px;
                }
                .price {
                    font-size: 27px;
                    font-weight: 400;
                    color: #dd0707;
                    margin-left: 5px;
                }
                .review-pro {
                    .star-icon {
                        color: #000;
                    }
                }
            }
            border-bottom:1px solid rgba(#000, .1);
        }
        #infiniteoptions-container{
                label{
                    margin-top:10px;
                    font-size:16px;
                    color:#000;
                    font-weight: 400;
                    font-family: "Calibre Regular";
                    text-transform:uppercase;
                }
                .spb-select{
                select{
                    font-size: 16px;
                    padding: 10px;
                    font-weight: 400;
                    font-family: "Calibre Regular";
                    text-transform:uppercase;
                    margin-bottom: 10px;
                }
                option{
                    font-size: 16px;
                    padding: 10px;
                    font-weight: 400;
                    font-family: "Calibre Regular";
                    text-transform:uppercase;
                }

                }
        }
        .product-info {
            label {
                font-weight: 500;
            }
        }
        .product-qty {
            label {
                color: #000;
                font-weight: 400;
                font-family: "Calibre Regular";
            }
            .pro-qty-div {
                display: flex;
                align-items: center;
                .qty-btn {
                    border:1px solid #000;
                    background: none;
                    height: 45px;
                    width: 40px;
                    font-size: 20px;
                    font-weight: 400;
                    color: #000;
                    outline: none;
                }
                .minus-btn {
                    border-right: none;
                }
                .plus-btn {
                    border-left: none;
                }
                .qty-input {
                    border: 1px solid #000;
                    border-left: none;
                    border-right: none;
                    background: none;
                    height: 45px;
                    width: 50px;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 45px;
                    color: #000;
                    outline: none;
                }
            }
            .pro-add-btn {
                display: flex;
                .btn-all {
                    background: #000;
                    color: $white;
                    padding: 10px 20px;
                    width: 100%;
                    font-weight: 400;
                    outline: none;
                    border: 2px solid #000;
                    height: 45px;
                    border-radius: 20px;
                    position: relative;
                    &:before{
                        opacity: 0;
                        position: absolute;
                        content: '';
                        top: -1px;
                        left: -1px;
                        right: 1px;
                        bottom: -1px;
                        outline: none;
                        width: 0;
                        height: 43px;
                        background-color: #dd0707;
                        transform-origin:left;
                        transition:width 1s ease;
                        z-index:-1;
                        border-radius: 20px;   
                        border: 2px solid #dd0707;
                    }
                    &:hover {
                        background:transparent; 
                        border: 2px solid #dd0707;
                        &:before{
                            opacity: 1;    
                            width: 101%;
                        }
 
                    }
                    &:disabled {
                        opacity: .5;
                        &:hover {
                            background:$black;
                            border:2px solid $black;
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
                // .add-cart {
                //     width: 25%;
                //     font-size: 18px;
                //     background: #252932;
                //     border: 2px solid #252932;
                //     margin-right: 10px;
                //     &:hover {
                //         background: $indigo;
                //         border: 2px solid $indigo;
                //     }
                // }
            }
            .btn-all {
                background: #000;
                color: $white;
                padding: 10px 20px;
                width: 100%;
                font-weight: 400;
                outline: none;
                border: 2px solid #000;
                height: 45px;
                border-radius: 20px;
                position: relative;
                &:before{
                    opacity: 0;
                    position: absolute;
                    content: '';
                    top: -1px;
                    left: -1px;
                    right: 1px;
                    bottom: -1px;
                    outline: none;
                    width: 0;
                    height: 43px;
                    background-color: #dd0707;
                    transform-origin:left;
                    transition:width 1s ease;
                    z-index:-1;
                    border-radius: 20px;   
                    border: 2px solid #dd0707;
                }
                &:hover {
                    background:transparent; 
                    border: 2px solid #dd0707;
                    &:before{
                        opacity: 1;    
                        width: 101%;
                    }

                }
                &:disabled {
                    opacity: .5;
                    &:hover {
                        background:$black;
                        border:2px solid $black;
                        &:before{
                            display: none;
                        }
                    }
                }
            }
        }
        .dropdown-select{
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            margin-top:15px;
            .selector-wrapper{
                width:calc(50% - 15px);
                margin-bottom:20px;
                label{
                    display: block;
                    font-size:18px;
                    font-family: "Calibre Regular";
                    margin-bottom:5px;
                }
                select{
                    width:100%;
                    padding:8px 15px;
                    border:1px solid #000;
                    border-radius:5px;
                    font-size:15px;
                    outline: none;
                }
            }
        }
        .payment-option {
            label {
                color: #000;
                font-weight: 500;
            }
            .payment-ul {
                li {
                    display: inline-block;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    a {
                        display: block;
                        font-size: 35px;
                        color: #000 !important;
                    }
                    &:hover {
                        a {
                            color: grey !important;
                        }
                    }
                }
            }
        }
        .product-description {
            h6 {
                margin: 0.5em 0;
                color: #000;
                font-weight: 400;
                font-size: 18px;
                font-family: "Calibre Regular";
                text-transform: uppercase;
            }
        }
    }
    .vendor-div{
        .vendor{
            color: #000;
            font-weight: 400;
            font-size: 18px;
            font-family: "Calibre Regular";
            text-transform: uppercase;
        }
    }
    .sku-div{
        .sku{
            color: #000;
            font-weight: 400;
            font-size: 18px;
            font-family: "Calibre Regular";
            text-transform: uppercase;
        }
    }
    .item-info{
        text-align: left;
        .store-item-promo{
            font-size: 11px;
            padding-left: 25px;
            display: block;
            color: #6a6a6a;
            text-transform: uppercase;
            font-family: Roboto,Arial,sans-serif;
            position: relative;
            line-height: 12px;
            margin: 12px 0;
            &::before {
                background: #66b414;
                border-radius: 50%;
                height: 18px;
                width: 18px;
                content: '$';
                color: #f3f3f3;
                font-weight: 700;
                line-height: 18px;
                padding: 2px;
                font-size: 15px;
                text-align: center;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .store-item-shipping{
            font-size: 11px;
            padding-left: 25px;
            display: block;
            color: #6a6a6a;
            text-transform: uppercase;
            font-family: Roboto,Arial,sans-serif;
            position: relative;
            line-height: 12px;
            margin: 12px 0;
            i{
                height: 18px;
                width: 18px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: #d00;
                padding: 2px;
                svg {
                    fill: #f3f3f3;
                }
                img{
                    max-width:100%;
                    vertical-align: center;
                }
            }
        }
        .store-item-affirm {
            color: #3a3a3a;
            font-size: 11px;
            display: block;
            text-transform: uppercase;
            font-family: Roboto,Arial,sans-serif;
            position: relative;
            line-height: 10px;
            margin: 12px 0;
            padding-left: 25px;
            svg {
                height: 18px;
                width: 18px;
                background: #ff8c00;
                padding: 2px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            p{
                color: #3a3a3a;
            }
        }
    }
    .product-tabs{
    
  
        .nav-link{
            color: #000;
            font-weight: 400;
            font-size: 18px;
            font-family: "Calibre Regular";
            text-transform: uppercase;
            background: #f2f3f3;
            margin-left: 1px;
        }
    
        .active{
            background: #fff !important;
        }
        .tab-content{
            margin-left: 1px;
            border-left: 1px solid;
            border-bottom: 1px solid;
            border-right: 1px solid;
            border-color: #dee2e6;
            b,strong{
                font-weight: 600;
            }
        }

        .vid_div{
            video{
                min-height:300px;
                width:100%;
            
            }
          }
          .youtube_div{
            iframe{
            min-height:300px;
            width:100%;       
            }
          }
          
    }
}

.product-info {
    h4 {
        padding: 10px 0;
        border-bottom: 1px solid rgba(#000, 0.2);
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:992px) {
    .product-detail-section {
        .product-detail-content {
        .product-qty {
            .pro-add-btn {
                .btn-all {
                    width:100%;
                }
            
            } 
        }
        }

    }

}
@media only screen and (max-width:480px) {
    .product-detail-section {
        .product-slider {
        
                img {
                    margin: auto;
                }
        
        }
        .product-detail-content {
            .product-head {
                .price-text {
                    display:block;
                    .price {
                        font-size: 20px;
                    }
                    .review-pro{
                        display:block;
                    }
                }
            }
            .product-qty {
                .pro-add-btn {
                    .btn-all {
                        padding: 8px 9px;
                        width: 50%;
                    }
                    // .add-cart {
                    //     width: 32%;
                    // }
                }
            }
        }
    }
}