.related-videos{
    padding: 20px 0;
    margin:auto;
    .title_div{
        margin: 25px auto;
    }
   
    .youtube_div {
        iframe {
        min-height: 200px;
        width: 100%;
        }
    }
.vid_div{
    video{
        min-height:200px;
        width:100%;
    
    }
  }

.seemorevideos-container{
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    .see-more-videos {
        margin: 10px auto;
        width: 100%;
        max-width: 250px;
        text-align: left;
        background: $red;
        a {
            color: #fff;
            img {
                width: 100%;
                max-width: 40px;
            height: 40px;
            }
            .see-more-videos-text {
                display: inline-block;
                margin-left: 10%;
            }
        }
        
    }
    
}

}