.swatch {
    margin: 1em 0;
}


/* Label */

.swatch .header {
    margin: 0.5em 0;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    font-family: "Calibre Regular";
    text-transform: uppercase;
}


/* Hide radio buttons.*/

.swatch input {
    display: none;
}

.swatch label {
    /* Rounded corners */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /* To give width and height */
    float: left;
    /* Color swatches contain no text so they need to have a width. */
    min-width: 36px !important;
    height: 36px !important;
    /* No extra spacing between them */
    margin: 0;
    /* The border when the button is not selected */
    border: #ccc 1px solid;
    /* Background color */
    background-color: #fff;
    /* Styling text */
    font-size: 13px;
    text-align: center;
    line-height: 35px;
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
    // &:after {
    //     content: "";
    //     position: absolute;
    //     width: 42px;
    //     height: 42px;
    //     border: 1px solid rgba($black, .1);
    //     top: -4px;
    //     left: -4px;
    // }
}

.swatch-element label {
    padding: 0 10px;
}

.color.swatch-element label {
    padding: 0;
}


/* Styling selected swatch */


/* Slightly raised */

.swatch input:checked+label {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
    border-color: transparent;
    background: #000;
    color: #fff;
    &:after {
        border: 1px solid rgba($black, .5);
    }
}

.swatch .swatch-element {
    float: left;
    /* Spacing between buttons */
    margin: 0px 15px 10px 0;
    /* To position the sold out graphic and tooltip */
    position: relative;
}


/* Image with the cross in it */

.crossed-out {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.swatch .swatch-element .crossed-out {
    display: none;
}

.swatch .swatch-element.soldout {
    opacity: 0.3;
}

.swatch .swatch-element.soldout .tooltip {
    display: none;
}

.swatch .swatch-element.soldout .crossed-out {
    display: none;
}

.swatch .swatch-element.soldout label {
    filter: alpha(opacity=60);
    /* internet explorer */
}


/* Tooltips */

.swatch .tooltip {
    text-align: center;
    background: #f2f3f3;
    color: #fff;
    bottom: 100%;
    padding: 10px;
    display: block;
    position: absolute;
    width: 100px;
    //   left:{{ width | remove: 'px' | to_number | divided_by: 2 | minus: 50 | plus: 2 }}px;
    margin-bottom: 15px;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    z-index: 10000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: -33px;
}

.swatch .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}


/* CSS triangle */

.swatch .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #f2f3f3 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.swatch .swatch-element:hover .tooltip {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.swatch.error {
    background-color: #E8D2D2!important;
    color: #333!important;
    padding: 1em;
    border-radius: 5px;
}

.swatch.error p {
    margin: 0.7em 0;
}

.swatch.error p:first-child {
    margin-top: 0;
}

.swatch.error p:last-child {
    margin-bottom: 0;
}

.swatch.error code {
    font-family: monospace;
}

.soldout {
    input {
        opacity: 0.5;
    }
}

.lightboxcontainer {
    width: 100%;
    text-align: left;
}

.lightboxleft {
    width: 40%;
    float: left;
}

.lightboxright {
    width: 60%;
    float: left;
}

.lightboxright iframe {
    min-height: 390px;
}

.divtext {
    margin: 36px;
}

@media (max-width: 800px) {
    .lightboxleft {
        width: 100%;
    }
    .lightboxright {
        width: 100%;
    }
    .divtext {
        margin: 12px;
    }
}