.product-detail-section {
    .product-detail-content {
        .no-padding {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .add-ons-row {
            .align-items-center {
                display: flex;
                align-items: center;
            }

            .note-label {
                b {
                    margin-right: 5px;
                    text-transform: uppercase;
                }

                font-size:13px;
            }

            .check-div {
                margin-bottom: 15px;

                &.disabled {
                    opacity: 0.6;
                    pointer-events: none;
                }

                cursor:pointer;

                .check-box-div {
                    background: rgba($purple, .11);
                    padding: 10px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    transition: all 0.3s;

                    .label-div {
                        width: 25%;
                        padding-right: 10px;
                        text-align: center;

                        .label-check {
                            width: 24px;
                            height: 24px;
                            background: none;
                            border: 1px solid $purple;
                            border-radius: 50%;
                            transition: all 0.3s;
                            margin-bottom: 0;
                            position: relative;

                            &::after {
                                content: "\f00c";
                                color: #181219;
                                font-family: FontAwesome;
                                position: absolute;
                                left: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                line-height: 24px;
                            }
                        }
                    }

                    .img-label-div {
                        position: relative;
                        width: 75%;

                        .img-div {
                            width: 100%;
                            position: relative;
                            padding-bottom: 35%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                object-fit: cover;
                            }

                            .overlay-div {
                                width: 100%;
                                height: 100%;
                                background: rgba($purple, .5);
                                position: absolute;
                                z-index: 100;
                                display: none;
                                transition: all 0.3s;

                                p {
                                    color: $black;
                                    font-size: 22px;
                                    text-align: center;
                                    line-height: 55px;
                                }
                            }
                        }

                        .img-label {
                            p {
                                margin-bottom: 0;
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                    }

                }

                &:hover {
                    .img-label-div {
                        .img-div {
                            .overlay-div {
                                display: block;
                            }
                        }
                    }
                }

                input {
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    z-index: 99;
                    margin-bottom: 0;

                    &:checked~ {
                        .check-box-div {
                            background: rgba($purple, .3);

                            .label-div {
                                .label-check {
                                    background: $purple;
                                }
                            }

                            .img-label-div {
                                .img-div {
                                    .overlay-div {
                                        display: block;
                                    }
                                }
                            }
                        }

                    }
                }
            }

            .reword-img-div {
                padding-right: 10px;

                img {
                    width: 100%;
                }
            }

            .reword-text-div {
                padding-left: 0;
                padding-right: 0;

                p {
                    font-size: 13px;
                    margin-bottom: 0px;
                }

                a {
                    color: $indigo;
                    font-size: 13px;
                }
            }

        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product-detail-section {
        .product-detail-content {
            .add-ons-row {
                .check-div {
                    &:first-child {
                        padding-right: 7px !important;
                    }

                    &:last-child {
                        padding-left: 7px !important;
                    }

                    .check-box-div {
                        .img-label-div {
                            .img-div {
                                .overlay-div {
                                    p {
                                        font-size: 18px;
                                        text-align: center;
                                        line-height: 44px;
                                    }
                                }
                            }
                        }
                    }
                }

                .reword-main-div {
                    margin-bottom: 15px;
                }

                .qty-mainbig-div {
                    padding-left: 0;

                    .qty-main-div {
                        justify-content: start;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-detail-section {
        .product-detail-content {
            .add-ons-row {
                .check-div {
                    &:first-child {
                        padding-right: 7px !important;
                    }

                    &:last-child {
                        padding-left: 7px !important;
                    }

                    .check-box-div {
                        .img-label-div {
                            .img-div {
                                .overlay-div {
                                    p {
                                        font-size: 18px;
                                        text-align: center;
                                        line-height: 35px;
                                    }
                                }
                            }
                        }
                    }
                }

                .reword-main-div {
                    margin-bottom: 15px;
                }

                .qty-mainbig-div {
                    padding-left: 0;

                    .qty-main-div {
                        justify-content: start;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .product-detail-section {
        .product-detail-content {
            .add-ons-row {
                .check-div {
                    .check-box-div {
                        .img-label-div {
                            .img-div {
                                .overlay-div {
                                    p {
                                        font-size: 21px;
                                        line-height: 91px;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .reword-main-div {
                    margin-bottom: 15px;
                }

                .qty-mainbig-div {
                    padding-left: 0;

                    .qty-main-div {
                        justify-content: start;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:480px) and (max-width: 767px) {
    .product-detail-section {
        .product-detail-content {
            .add-ons-row {
                .reword-img-div {
                    img {
                        width: 78%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:375px) {
    .product-detail-section {
        .product-detail-content {
            .add-ons-row {
                .check-div {
                    width: 100%;
                    padding: 0;

                    .check-box-div {
                        .img-label-div {
                            .img-div {
                                .overlay-div {
                                    p {
                                        font-size: 22px;
                                        line-height: 76px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}