.cart-section {
    padding: 30px 0;
    background:#F2F3F3;
    .cart-main-content{
        background:#ffffff;
        .btn-checkout-div{
            padding:50px 15px;
            background:#F2F3F3;
            .btn_body{
                margin:auto;
            }
        }
    }
    h4 {
        color: #000;
    }
    h3 {
        color: #000;
        text-transform: uppercase;
    }
    .empty-line {
        color: #000;
    }
    .mob-title {
        display: none;
    }
    .cart-head {
        h2 {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .cart-heading {
        background: #F2F3F3;
        border-bottom: 1px solid rgba($indigo, .1);
        border-top: 1px solid rgba($indigo, .1);
        padding:15px;
        p {
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .product-head {
            text-align: left;
        }
        .price-head {
            text-align: center;
        }
        .qty-head {
            text-align: center;
        }
        .total-head {
            text-align: right;
        }
    }
    .cart-items {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0, .1);
        // background: rgba($indigo, .1);
        .cart-product-div {
            display: flex;
            align-items: flex-wrap;
            .product-image-div {
                width: 200px;
                margin-right: 20px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .product-text-div {
                .label-name {
                    margin-bottom: 0;
                    font-weight: 500;
                    color: $black;
                    font-size: 14px;
                }
                .pro-name {
                    margin-bottom: 0;
                    a {
                        font-size: 14px;
                        font-weight: 500;
                        margin: 5px 0;
                        display: block;
                        line-height: 22px;
                        color: #dd0707;
                        &:hover {
                            color: #dd0707;
                        }
                    }
                }
                .remove-pro {
                    font-size: 16px;
                    color: $black;
                    font-weight: 600;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .cart-main-div {
            .remove-pro {
                display: none;
            }
        }
        .cart-price-div {
            p {
                text-align: center;
                font-size: 18px;
                margin-bottom: 0;
            }
            .remove-pro {
                font-size: 25px;
            }
        }
        .cart-qty-div {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .minus-qty {
                height: 40px;
                width: 30px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $black;
                border-right: 0;
                color: $black;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
            }
            .plus-qty {
                height: 40px;
                width: 30px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $black;
                border-left: 0;
                color: $black;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
            }
            .quntity-input {
                height: 40px;
                width: 40px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $black;
                color: $black;
                border-left: 0;
                border-right: 0;
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
        .cart-total-div {
            p {
                text-align: right;
                font-size: 18px;
                margin-bottom: 0;
                color:$black;
                font-weight:600;
            }
            small{
                display:block;
            }
        }
    }
    .cart-subtotal-div {
        padding: 0 15px;
        .subtotal {
            color: $black;
            font-weight: 500;
            font-family: "Calibre Regular";
        }
        p {
            font-size: 20px;
            text-align: right;
            color: $black;
        }
        .charges-p,
        .free-shipping-p {
            font-size: 15px;
            color: $black;
        }
    }
    .cart-note{
    padding:10px;
border:1px solid rgba(28, 35, 45, 0.1);

    }
    .payment-option {
        margin-top: 25px;
        p {
            text-align: right;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    .order-sammry{
        background:#fff;
        .header_order_sum{
            padding:15px;
            padding-top:25px;
            border-bottom:1px solid rgba($indigo, .1);
            h5{
                margin-bottom:3px;
            }
            p{
                margin-bottom: 0;
                font-size:14px;
            }
        }
        .subtotal_order{
            border-bottom:1px solid rgba($indigo, .1);
            padding:15px;
            .main_span{
                vertical-align: sub;
            }
            .right_span{
                color:$black;
                font-weight:600;
                font-size:16px;
                float:right;
            }
        }
        .shipping_order{
            border-bottom:1px solid rgba($indigo, .1);
            padding:15px;
            .main_span{
                vertical-align: sub;
            }
            .right_span{
                color:$black;
                font-weight:600;
                font-size:16px;
                float:right;
            }
        }
        .total_order{
            border-bottom:1px solid rgba($indigo, .1);
            padding:15px;
            .main_span{
                vertical-align: sub;
                color:$black;
                font-weight:600;
            }
            .right_span{
                color:$red;
                font-weight:600;
                font-size:20px;
                float:right;
            }
        }
        .btn-checkout-div{
            padding:15px;
            padding-bottom:25px;
            .btn_banner{
                width:100%;
                margin-bottom:15px;
                &:hover{
                    background:$indigo;
                    color:#ffffff;
                }
            }
            .btn_body{
                width:100%;
                margin-bottom:15px;
                text-align: center;
                &:last-child{
                    margin-bottom:0;
                }
            }
        }
    }
    
}
.btn-wrap{ 
    display:block;
    margin:20px auto;
  
  }
  .popup-wrapper{
    display:block;
    height:0px;
    overflow:hidden;
    .prd-wrap{
      padding:10px;
    }
    .product-main{
        padding:0 10px;
    }
    .product_box{
        position:relative;
        margin-bottom:30px;
        background:#fff;

        @media (max-width:767px){

            width: 100%;
            margin:auto;
            margin-bottom:20px;
        }
        .product_img_box{
            position:relative;
            overflow:hidden;
            background:#fff;
            margin-bottom:20px;
            &::before{
                content:'';
                padding-top:100%;
                display: block;
            }
            img{
                @include product-img;
                padding:15px;
            }
            .tag-badge{
                position:absolute;
                
                top:0;
                left:0;
                text-align: left;
                span{
                    padding:10px;
                    background:$black;
                    color:$white;
                    font-weight:500;
                    font-size:14px;
                    display: inline-block;
                }
            }
            .product_overlay{
                position:absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                background:rgba($indigo, .5);
                display: none;
                align-items: center;
                justify-content: center;
                transition: .7s;
                .btn_product{
                    background:$red;
                    width:40px;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    display: inline-block;
                    margin-right:10px;
                    border-radius:50%;
                    border:none;
                    color:#fff;
                    &:last-child{
                        margin-right:0;
                    }
                    &:hover{
                        background: $black;
                    }
                }
            }
        }
        .product_info{
            padding: 5px 10px;
            text-align:left;
            h6{
                margin-bottom:15px;
                word-break: break-word;
            }
            p{
                color:$red;
                font-weight:500;
                margin-bottom: 5px;
            }
            .item-info{
                text-align: left;
                .store-item-promo{
                    font-size: 11px;
                    padding-left: 25px;
                    display: block;
                    color: #6a6a6a;
                    text-transform: uppercase;
                    font-family: Roboto,Arial,sans-serif;
                    position: relative;
                    line-height: 12px;
                    margin: 12px 0;
                    &::before {
                        background: #66b414;
                        border-radius: 50%;
                        height: 18px;
                        width: 18px;
                        content: '$';
                        color: #f3f3f3;
                        font-weight: 700;
                        line-height: 18px;
                        padding: 2px;
                        font-size: 15px;
                        text-align: center;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .store-item-shipping{
                    font-size: 11px;
                    padding-left: 25px;
                    display: block;
                    color: #6a6a6a;
                    text-transform: uppercase;
                    font-family: Roboto,Arial,sans-serif;
                    position: relative;
                    line-height: 12px;
                    margin: 12px 0;
                    i{
                        height: 18px;
                        width: 18px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #d00;
                        padding: 2px;
                        svg {
                            fill: #f3f3f3;
                        }
                        img{
                            max-width:100%;
                            vertical-align: center;
                        }
                    }
                }
                .store-item-affirm {
                    color: #3a3a3a;
                    font-size: 11px;
                    display: block;
                    text-transform: uppercase;
                    font-family: Roboto,Arial,sans-serif;
                    position: relative;
                    line-height: 10px;
                    margin: 12px 0;
                    padding-left: 25px;
                    svg {
                        height: 18px;
                        width: 18px;
                        background: #ff8c00;
                        padding: 2px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    p{
                        color: #3a3a3a;
                    }
                }
            }
        }
        &:hover{
            .product_img_box{
                .product_overlay{
                    display: flex;
                }
            }
        }
    }
    .main_wrap{
      background:#fff;
      border-radius:20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 0px;
      overflow: hidden;
    }
    .nav-tabs{
    margin-top:15px;
    }
    .tab-content{
        padding: 10px 0 0;
        // .slick-prev:before, .slick-next:before {
        //     color:#000;
        // }
        .slick-prev:before { content: "‹"; 
    
            line-height: 8px;
            color: #fff;
        }
        .slick-next:before { 
            content: "›"; 
            line-height: 8px;
            color: #fff;
         }

      .slick-arrow{
        background: #3b3b3b;
        border-radius: 50%;
        top:29%;
        @media (max-width:1024px){
            top:27%;
        }
        
        @media (max-width:480px){
            top:24%;
        }
        @media (max-width:375px){
            top:22%;
        }
        @media (max-width:320px){
            top:19%;
        }
      }
      .slick-prev{
      left:-20px;
        
      }
      .slick-next{
      right:-20px;
      }
      .slick-dots{
      display:none !important;
      }
      
    }
    .tab-content > .tab-pane {
      display:block;
      height:0px;
      overflow:hidden;
      .prd{
        margin-left:0px;
        margin-right:0px;
  
      }
    }
    .tab-content > .active {
      height:100%;
      overflow:visible;
      background: #fff;
    }
    .close{
      position:absolute;
      right: 18px;
      top: 10px;
  
      display:block;
      z-index:165;
      @media (max-width:767px){
      font-size:30px;
      }
    }
    .accessories-title{
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      padding: 10px 18px;
      color: #282828;
  
      
    }
    .nav-link{
    border:0px;
    background: #fff;
  }
    .nav-link.active{
        border:0px;
        color:#dd0707; 
        background: #fff;
    }
    @media (max-width:991px){
      .prd-img-area{
      display:block !important;
      }
     .prd-circle-labels{
      pointer-events: all;
      opacity: 1;
     
       .circle-label-compare{
          position: absolute;
      z-index: 1;
      top: 5px;
      right: 5px;
      display: -ms-flexbox;
      display: flex;
       }
     }
    .color-swatch {
      position: relative;
      z-index: 1;
      display: -ms-flexbox;
      display: flex;
      margin: 10px -3px 0;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: center;
      justify-content: center;
  }
      .prd-w-xs .sale-text, .prd-w-xxs .sale-text {
      display:block !important;
      }
    }
    .tab-li .nav-link:after{
    bottom:.2em !important;
    }
  }
  .popup-show{
    height:100%;
    position:fixed;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 99999 ;
    background:rgba(0,0,0,.3);
    .main_wrap{
    height:99%;
    }
  }

// .template-cart {
//     .shipping-badges{
//         padding-bottom:50px;
//     }
// }
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .cart-section {
        .cart-subtotal-div {
            padding: 0 7px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-section {
        .cart-head {
            .empty-line {
                font-size: 2rem;
            }
        }
        .cart-items {
            .cart-product-div {
                .product-image-div {
                    width: 130px;
                    margin-right: 15px;
                }
                .product-text-div {
                    .pro-name {
                        a {
                            font-size: 15px;
                            line-height: 19px;
                        }
                    }
                    
                    .label-name {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .cart-section {
        .btn-shop {
            border-bottom: 1px solid rgba($indigo, .2);
        }
        .cart-head {
            .empty-line {
                font-size: 1.5rem;
            }
        }
        .cart-heading {
            padding: 10px 0px;
            .price-head {
                display: none;
            }
            .product-head {
                width: 33.33%;
                margin-left: 0;
            }
            .qty-head {
                width: 33.33%;
                margin-left: 0;
            }
            .total-head {
                width: 33.33%;
                margin-left: 0;
            }
        }
        .cart-items {
            display: block;
            padding: 15px 0;
            .cart-product-div {
                max-width: 100%;
                .product-image-div {
                    padding-left: 20px;
                    margin: auto;
                    margin-bottom: 15px;
                    margin-right: auto !important;
                }
                .product-text-div {
                    padding-left: 20px;
                }
            }
            .cart-price-div {
                margin-left: 0;
                margin-top: 20px;
                height: 40px;
                display: inline-block;
                padding-left: 0;
                p {
                    text-align: left;
                    line-height: 40px;
                    padding-left: 20px;
                }
            }
            .cart-main-div {
                margin-left: 0;
                margin-top: 20px;
                float: left;
                padding-left: 0;
                .cart-qty-div {
                    padding-left: 20px;
                    justify-content: left;
                }
            }
            .cart-total-div {
                margin-left: 0;
                text-align: right;
                margin-top: 20px;
                height: 40px;
                display: inline-block;
                p {
                    line-height: 40px;
                    padding-left: 20px;
                    text-align: right;
                }
            }
        }
        .cart-subtotal-div {
            p {
                text-align: center;
            }
        }
        .btn-checkout-div {
            text-align: center;
        }
        .payment-option {
            p {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .cart-section {
        .btn-checkout-div {
            .outline-btn {
                display: block;
                margin: auto;
                margin-bottom: 16px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .cart-section {
        .cart-heading {
            p {
                font-size: 12px;
            }
        }
        .cart-items {
            .cart-product-div {
                .product-image-div {
                    width: 200px;
                    margin-right: 15px;
                }
                .product-text-div {
                    .pro-name {
                        a {
                            font-size: 17px;
                            line-height: 19px;
                        }
                    }
                    .remove-pro {
                        font-size: 13px;
                    }
                    .label-name {
                        font-size: 15px;
                    }
                }
            }
            .cart-main-div {
                .remove-pro {
                    right: 36%;
                }
            }
        }
        .cart-subtotal-div {
            p {
                font-size: 22px;
            }
        }
        .btn-checkout-div {
            .outline-btn {
                display: block;
                margin-right: 0;
                width: max-content;
                margin: auto;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width:375px) {
    .cart-section {
        .cart-items {
            .cart-main-div {
                .remove-pro {
                    right: 31%;
                }
            }
        }
    }
}

@media only screen and (max-width:320px) {
    .cart-section {
        .cart-items {
            .cart-main-div {
                .remove-pro {
                    right: 28%;
                }
            }
        }
    }
}