{% if section.settings.enable_section %}
<section class="about-banner">
    {% include 'responsive-image' with
        image: section.settings.bg_img,
        image.alt: section.settings.title,
        max_width: 1600,
        max_height: 1600
    %}
    <div class="container">
        <div class="row">
            <div class="col-12 about-content">
                <h2>{{ section.settings.title }}</h2>
                <p class="sub_line">{{ section.settings.sub_line }}</p>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "About Banner",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_section",
            "label": "Enable Section?"
        },
        {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Background Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
         {
            "type": "textarea",
            "id": "sub_line",
            "label": "Sub Line"
        }
    ]
  }
{% endschema %}