<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{%- assign paginationAmount = 60 -%}
{%- if cart.attributes.pagination != blank -%}

  {%- comment -%} If we do, use this value for the pagination instead {%- endcomment -%}
  {%- assign paginationAmount = cart.attributes.pagination | default:60 | abs -%}

{%- endif -%}
 {% assign current_tags = current_tags | strip | strip_newlines |replace : ' ', "-" %}


{% paginate collection.products by paginationAmount %}
<section class="collection-shop-section product-section">
  <div class="container">
    <div class="row mb-4 align-items-center" >
      <div class="col-lg-3 text-center main-item-text">
        <p class="mb-0">{{paginate.current_offset | plus : 1}} - {% if   paginate.page_size > collection.all_products_count %}{{ collection.all_products_count }} {% else %}  {{paginate.page_size}} {% endif %}  of {{ collection.all_products_count }} results </p>
      </div>
      <div class="col-lg-9 mt-lg-0 mt-3">
        <div class="row">
          <div class="col-xl-9 col-lg-9 col-md-9 text-right">
            <div class="row">
              <div class="col-12 follter-main_item-dv">
                {% if section.settings.show_item_widget %}
                <div class="filter-item_div">
                  <label>{{section.settings.show_items_label}} </label>
                  <ul class="fillter-item-ul">
                    {% for block in section.blocks %}
                    {% if block.type == "show_items" and block.settings.enable %}
                    <li class="position-relative">
                        <input type="radio" value={{block.settings.item_show}} name="pagination_value"  class="pagination-count"  {% if paginationAmount == block.settings.item_show %}checked{% endif %}>
                        <label class="radio_container">{{block.settings.item_show}}</label>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
                <div class="fillter-div">
                  {% include 'sortby-collection' %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
              <ul class="grid-fillter text-center mb-0 my-lg-0 my-md-2 my-sm-2 my-2">
                <li>
                    <a  class="view-product border-0" data-class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> <img src="https://cdn.shopify.com/s/files/1/0065/0048/3116/files/da5df19b.png?v=1590374137" alt="{{shop.name}}"></a>
                </li>
                <li>
                  <a  class="view-product border-0" data-class="col-xl-4 col-lg-4 col-md-4 col-sm-4"><img src="https://cdn.shopify.com/s/files/1/0065/0048/3116/files/53339a30.png?v=1590374137" alt="{{shop.name}}"></a>
                </li>
                <li>
                  <a class="view-product border-0"  data-class="col-xl-3 col-lg-3 col-md-4 col-sm-4"><img src="https://cdn.shopify.com/s/files/1/0065/0048/3116/files/c53e9406.png?v=1590374136" alt="{{shop.name}}"></a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 my-2">
        <div class="btn_div d-lg-none d-block">
            <button class="btn_body show_btn">Show Fillters</button>
            <button class="btn_body hide_btn">Hide Fillters</button>
        </div>
        <div id="fillter_main" class="fillter_div_main">
            <div class="accordion" id="accordionExample">
                {% if current_tags != blank %}
                <div class="card">
                    <div class="card-header" id="headingFilter">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFilter"><i class="fa fa-plus"></i>Active Filters</button>									
                        </h2>
                    </div>
                    <div id="collapseFilter" class="collapse show" aria-labelledby="headingFilter" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="tags">
                               
                            </div>
                        <span class="badge py-3">
                        {% if collection %}
                        <a href="/collections/{{collection.handle}}">Clear All Selections</a>
                        {% else %}
                        <a href="/collections/all">Clear All Selections</a>
                        {% endif %}</span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% assign flag = 0 %}
                {% for b in  section.blocks %}
                    {% if b.type  == "filters_enable" and b.settings.main_collection == collection.handle or collection.handle == "all" and flag == 0 %}
                       {% assign flag = 1 %}
                        {% if b.settings.enable_diameter %}
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i>{{b.settings.diameter_widget_title}}</button>									
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks  %}
                                            {% if block.type == "diameter" and block.settings.enable %}
                                                <div class="radio_div">{{block.settings.diameter_title}}"
                                                {%- capture rdvalue -%}
                                                {{ block.settings.diameter_value}}-diameter
                                                {%- endcapture -%}
                                                {% assign rdvalue = rdvalue  | strip  | strip_newlines | replace :' ',"-" %}
                                    
                                                    <input type="radio"  value="{{rdvalue | strip  | strip_newlines | replace :' ','-'}}" name="diameter" {% if current_tags contains rdvalue %}checked{% endif %} class="coll-filter">
                                                    <span class="checkmark"></span>
                                                
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        
                        {% if b.settings.enable_height %}
                            <div class="card">
                                <div class="card-header" id="headingHeight">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseHeight"><i class="fa fa-plus"></i>{{b.settings.height_widget_title}}</button>
                                    </h2>
                                </div>
                                <div id="collapseHeight" class="collapse show" aria-labelledby="headingHeight" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "height" and block.settings.enable %}
                                        {%- capture rdvalue1 -%}
                                            {{ block.settings.height_value}}-height
                                                {%- endcapture -%}
                                            <div class="checkbox_div">{{block.settings.height_title}}"
                                            <input type="checkbox"  name="height" value="{{rdvalue1}}" class="coll-filter" {% if current_tags contains rdvalue1 %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if b.settings.enable_width %}
                             <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i>{{b.settings.width_widget_title}}</button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="search-div">
                                        <input type="text" placeholder="Search" class="search-width" >
                                        <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                        {% for block in section.blocks %}
                                        {% if block.type == "width" and block.settings.enable %}
                                        {%- capture rdvalue1 -%}
                                            {{ block.settings.width_value}}-width
                                                {%- endcapture -%}
                                            <div class="checkbox_div">{{block.settings.width_title}}"
                                            
                                            <input type="checkbox"  name="width" value="{{rdvalue1}}" class="coll-filter" {% if current_tags contains rdvalue1 %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if b.settings.enable_color %}
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i> {{b.settings.color_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "color" and block.settings.enable %}
                                        <div class="checkbox_div">{{block.settings.color_title}}
                                        {% assign rdval = block.settings.color_value | strip | strip_newlines | replace : " " , "-" %}
                                            <input type="checkbox"  name="color" value="{{rdval | strip | strip_newlines }}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}   

                        {% if b.settings.enable_type %}
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus"></i> {{b.settings.type_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "tiertype" and block.settings.enable %}
                                        <div class="checkbox_div">{{block.settings.type_title}}
                                    
                                        {% assign val = block.settings.type_value |replace : ' ' , '-' %}
                                            <input type="checkbox"  name="tire_type_1" value="{{block.settings.type_value | strip | strip_newlines|replace:' ', '-' }}" class="coll-filter" {% if current_tags contains val %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %} 
                        {% if b.settings.enable_treadwear %}
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"><i class="fa fa-plus"></i> {{b.settings.treadwear_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "treadwear" and block.settings.enable %}
                                        <div class="checkbox_div">{{block.settings.treadwear_title | strip | strip_newlines}}
                                        {% capture rdval %}
                                        {{block.settings.treadwear_value}}-treadwear
                                        {% endcapture %}
                                        {% assign rdval = rdval  | strip  | strip_newlines | replace :' ',"-" %}
                                    
                                            <input type="checkbox"  name="treadwear" value="{{rdval | strip | strip_newlines| replace :' ','-' }}"  class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if b.settings.enable_traction %}
                            <div class="card">
                                <div class="card-header" id="headingSeven">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"><i class="fa fa-plus"></i> {{b.settings.traction_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "traction" and block.settings.enable %}
                                        <div class="checkbox_div">{{block.settings.traction_title| strip | strip_newlines}}
                                        {% capture rdval %}
                                        {{block.settings.traction_value}}-traction 
                                        {% endcapture %}
                                        {% assign rdval = rdval  | strip  | strip_newlines | replace :' ',"-" %}
                                    
                                            <input type="checkbox"  name="traction" value="{{rdval | strip  | strip_newlines | replace :' ','-' }}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>                        
                        {% endif %}

                        {% if b.settings.enable_speed_rating %}
                           <div class="card">
                                <div class="card-header" id="headingEight">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"><i class="fa fa-plus"></i> {{b.settings.speed_rating_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseEight" class="collapse show" aria-labelledby="headingEight" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "speedrating" and block.settings.enable %}
                                        <div class="checkbox_div">{{block.settings.speed_rating_title}}
                                        {% capture rdval %}
                                        {{block.settings.speed_rating_value}}-speed-rating
                                        {% endcapture %}
                                        {% assign rdval = rdval  | strip  | strip_newlines | replace :' ',"-" %}
                                    
                                            <input type="checkbox"  name="speedrating" value="{{rdval | strip  | strip_newlines | replace :' ','-' }}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if b.settings.enable_load_range %}
                            <div class="card">
                                <div class="card-header" id="headingRange">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseRange"><i class="fa fa-plus"></i> {{b.settings.load_range_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseRange" class="collapse show" aria-labelledby="headingRange" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "loadrange" and block.settings.enable %}

                                        {%- capture rdvalue1 -%}
                                            {{ block.settings.load_range_value}}-load-range
                                                {%- endcapture -%}
                                                {% assign rdval1 = rdval1  | strip  | strip_newlines | replace :' ',"-" %}
                                    
                                        <div class="checkbox_div">{{block.settings.load_range_value}}
                                            <input type="checkbox"  name="loadrange" value="{{rdvalue1 |  strip  | strip_newlines | replace :' ','-' }}" class="coll-filter" {% if current_tags contains rdvalue1 %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>                        
                        {% endif %}
                        {% if b.settings.enable_load_index  %}
                            <div class="card">
                                <div class="card-header" id="headingNine">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"><i class="fa fa-plus"></i> {{b.settings.load_index_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "loadindex" and block.settings.enable %}
                                        <div class="checkbox_div">{{block.settings.load_index_title}}
                                        {%- capture rdval -%}
                                        {{block.settings.load_index_value}}-load-index
                                        {%- endcapture -%}
                                        {% assign rdval = rdval | strip | strip_newlines | replace :' ',"-" %}
                                            <input type="checkbox"  name="loadindex" value="{{rdval | strip_newlines | strip  | replace :' ','-'}}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if b.settings.brand %}
                            <div class="card">
                                <div class="card-header" id="headingTen">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen"><i class="fa fa-plus"></i> {{b.settings.brand_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "brand" and block.settings.enable %}
                                        <div class="checkbox_div">{{block.settings.brand_title | strip | strip_newlines}}
                                        {%- capture rdval1 -%}
                                            {{block.settings.brand_value  | strip | strip_newlines | replace : " ","-" }}
                                        {%- endcapture -%}
                                            {% assign rdval1 = rdval1  | strip  | strip_newlines | replace :' ',"-" %}
                                    
                                            <input type="checkbox"  name="brand" value="{{ rdval1 | strip | strip_newlines  | replace :' ','-' }}" class="coll-filter" {% if current_tags contains rdval1 %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if b.settings.modal %}
                            <div class="card">
                                <div class="card-header" id="headingModal1">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseModal1"><i class="fa fa-plus"></i> {{b.settings.brand_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseModal1" class="collapse show" aria-labelledby="headingModal1" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "modal" and block.settings.enable %}
                                        <div class="checkbox_div">{{block.settings.modal_title}}
                                        {% capture rdval %}
                                        {{block.settings.modal_value | strip  | strip_newlines | replace : " " , "-" }}
                                        {% endcapture %}
                                                {% assign rdval = rdval  | strip  | strip_newlines | replace :' ',"-" %}
                                        
                                            <input type="checkbox"  name="modal" value="{{rdval | strip |strip_newlines | replace :' ','-'}}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if b.settings.year %}
                            <div class="card">
                                <div class="card-header" id="headingModal11">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseModal11"><i class="fa fa-plus"></i> {{b.settings.year_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseModal11" class="collapse show" aria-labelledby="headingModal11" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for block in section.blocks %}
                                        {% if block.type == "year" and block.settings.enable %}
                                        <div class="checkbox_div">{{ block.settings.year_title }}
                                        {% assign current_tag = current_tags | upcase %}
                                            {% assign rdval = block.settings.year  | strip  | strip_newlines | replace :' ',"-" %}
                                    
                                            <input type="checkbox"  name="year" value="{{rdval | strip  | strip_newlines | replace :' ','-'}}" class="coll-filter" data-currant="{{ current_tag }}" {% if current_tag contains rdval %}checked{% endif %}>
                                            <span class="checkmark"></span>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if b.settings.availability %}
                            <div class="card">
                                <div class="card-header" id="headingModal123">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseModal123"><i class="fa fa-plus"></i> {{b.settings.availability_widget_title}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseModal123" class="collapse show" aria-labelledby="headingModal123" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="radio_div">InStock
                                            <input type="radio" name="availability" value="Instock" class="coll-filter-stock ">
                                            <span class="checkmark"></span>
                                        </div>
                                    <div class="radio_div">OutOfStock
                                            <input type="radio" name="availability" value="Outofstock" class="coll-filter-stock">
                                            <span class="checkmark"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if b.settings.keyword %}
                            <div class="card">
                                <div class="card-header" id="headingModal01">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseKeyword"><i class="fa fa-plus"></i> {{b.settings.keyword_widget_titlel}}</button>                     
                                    </h2>
                                </div>
                                <div id="collapseKeyword" class="collapse show" aria-labelledby="headingKeyword01" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="search-div">
                                        <input type="text" name="keyword" placeholder="Search" class="coll-filter" >
                                        <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                     
                    {% endif %}
                {% endfor %}
                  {% comment %}
                {% if section.settings.show_diameter_widget %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i>{{section.settings.diameter_label}}</button>									
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks  %}
                                {% if block.type == "diameter" and block.settings.enable %}
                                    <div class="radio_div">{{block.settings.diameter_title}}"
                                    {%- capture rdvalue -%}
                                    {{ block.settings.diameter_value}}-diameter
                                    {%- endcapture -%}
                                      {% assign rdvalue = rdvalue  | strip  | strip_newlines | replace :' ',"-" %}
                          
                                        <input type="radio"  value="{{rdvalue | strip  | strip_newlines | replace :' ','-'}}" name="diameter" {% if current_tags contains rdvalue %}checked{% endif %} class="coll-filter">
                                        <span class="checkmark"></span>
                                      
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %} 

                {% if section.settings.show_height_widget %}
                <div class="card">
                    <div class="card-header" id="headingHeight">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseHeight"><i class="fa fa-plus"></i>{{section.settings.height_label}}</button>
                        </h2>
                    </div>
                    <div id="collapseHeight" class="collapse show" aria-labelledby="headingHeight" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "height" and block.settings.enable %}
                            {%- capture rdvalue1 -%}
                                   {{ block.settings.height_value}}-height
                                    {%- endcapture -%}
                                <div class="checkbox_div">{{block.settings.height_title}}"
                                <input type="checkbox"  name="height" value="{{rdvalue1}}" class="coll-filter" {% if current_tags contains rdvalue1 %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if section.settings.show_width_widget %}
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i>{{section.settings.width_label}}</button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="search-div">
                              <input type="text" placeholder="Search" class="search-width" >
                              <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                            {% for block in section.blocks %}
                            {% if block.type == "width" and block.settings.enable %}
                            {%- capture rdvalue1 -%}
                                   {{ block.settings.width_value}}-width
                                    {%- endcapture -%}
                                <div class="checkbox_div">{{block.settings.width_title}}"
                                
                                <input type="checkbox"  name="width" value="{{rdvalue1}}" class="coll-filter" {% if current_tags contains rdvalue1 %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
     
                {% if section.settings.show_color_widget %}
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i> {{section.settings.color_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "color" and block.settings.enable %}
                            <div class="checkbox_div">{{block.settings.color_title}}
                               {% assign rdval = block.settings.color_value | strip | strip_newlines | replace : " " , "-" %}
                                <input type="checkbox"  name="color" value="{{rdval | strip | strip_newlines }}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if section.settings.show_type_widget %}
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus"></i> {{section.settings.type_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "tiertype" and block.settings.enable %}
                            <div class="checkbox_div">{{block.settings.type_title}}
                           
                            {% assign val = block.settings.type_value |replace : ' ' , '-' %}
                                <input type="checkbox"  name="tire_type_1" value="{{block.settings.type_value | strip | strip_newlines|replace:' ', '-' }}" class="coll-filter" {% if current_tags contains val %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
             
                 
                    {% if section.settings.show_price_widget %}
                    <div class="card">
                        <div class="card-header" id="headingfive">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive"><i class="fa fa-plus"></i>{{section.settings.price_label}}</button>                     
                            </h2>
                        </div>
                        <div id="collapsefive" class="collapse show" aria-labelledby="headingfive" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="price-filltr">
                                <input type="text" placeholder="$ Min">
                                <input type="text" placeholder="$ Max">
                                <button class="price-btn">GO</button>
                                </div>  
                            </div>
                        </div>
                    </div>
                    {% endif %} 
                  
            {% if section.settings.show_treadwear_widget %}
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"><i class="fa fa-plus"></i> {{section.settings.treadwear_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "treadwear" and block.settings.enable %}
                            <div class="checkbox_div">{{block.settings.treadwear_title | strip | strip_newlines}}
                            {% capture rdval %}
                            {{block.settings.treadwear_value}}-treadwear
                            {% endcapture %}
                             {% assign rdval = rdval  | strip  | strip_newlines | replace :' ',"-" %}
                          
                                <input type="checkbox"  name="treadwear" value="{{rdval | strip | strip_newlines| replace :' ','-' }}"  class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.show_traction_widget %}
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"><i class="fa fa-plus"></i> {{section.settings.traction_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "traction" and block.settings.enable %}
                            <div class="checkbox_div">{{block.settings.traction_title| strip | strip_newlines}}
                            {% capture rdval %}
                               {{block.settings.traction_value}}-traction 
                            {% endcapture %}
                            {% assign rdval = rdval  | strip  | strip_newlines | replace :' ',"-" %}
                          
                                <input type="checkbox"  name="traction" value="{{rdval | strip  | strip_newlines | replace :' ','-' }}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.show_speed_rating_widget %}
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"><i class="fa fa-plus"></i> {{section.settings.speed_rating_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseEight" class="collapse show" aria-labelledby="headingEight" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "speedrating" and block.settings.enable %}
                            <div class="checkbox_div">{{block.settings.speed_rating_title}}
                            {% capture rdval %}
                            {{block.settings.speed_rating_value}}-speed-rating
                            {% endcapture %}
                             {% assign rdval = rdval  | strip  | strip_newlines | replace :' ',"-" %}
                          
                                <input type="checkbox"  name="speedrating" value="{{rdval | strip  | strip_newlines | replace :' ','-' }}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.show_load_range_widget %}
                <div class="card">
                    <div class="card-header" id="headingRange">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseRange"><i class="fa fa-plus"></i> {{section.settings.load_range_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseRange" class="collapse show" aria-labelledby="headingRange" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "loadrange" and block.settings.enable %}

                             {%- capture rdvalue1 -%}
                                   {{ block.settings.load_range_value}}-load-range
                                    {%- endcapture -%}
                                     {% assign rdval1 = rdval1  | strip  | strip_newlines | replace :' ',"-" %}
                          
                            <div class="checkbox_div">{{block.settings.load_range_value}}
                                <input type="checkbox"  name="loadrange" value="{{rdvalue1 |  strip  | strip_newlines | replace :' ','-' }}" class="coll-filter" {% if current_tags contains rdvalue1 %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
       
            {% if section.settings.show_load_index_widget %}
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"><i class="fa fa-plus"></i> {{section.settings.load_index_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "loadindex" and block.settings.enable %}
                            <div class="checkbox_div">{{block.settings.load_index_title}}
                            {%- capture rdval -%}
                            {{block.settings.load_index_value}}-load-index
                            {%- endcapture -%}
                            {% assign rdval = rdval | strip | strip_newlines | replace :' ',"-" %}
                                <input type="checkbox"  name="loadindex" value="{{rdval | strip_newlines | strip  | replace :' ','-'}}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.show_brand_widget %}
                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen"><i class="fa fa-plus"></i> {{section.settings.brand_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "brand" and block.settings.enable %}
                            <div class="checkbox_div">{{block.settings.brand_title | strip | strip_newlines}}
                            {%- capture rdval1 -%}
                                {{block.settings.brand_value  | strip | strip_newlines | replace : " ","-" }}
                            {%- endcapture -%}
                                   {% assign rdval1 = rdval1  | strip  | strip_newlines | replace :' ',"-" %}
                          
                                <input type="checkbox"  name="brand" value="{{ rdval1 | strip | strip_newlines  | replace :' ','-' }}" class="coll-filter" {% if current_tags contains rdval1 %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {% if section.settings.show_modal_widget %}
                <div class="card">
                    <div class="card-header" id="headingModal1">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseModal1"><i class="fa fa-plus"></i> {{section.settings.modal_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseModal1" class="collapse show" aria-labelledby="headingModal1" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "modal" and block.settings.enable %}
                            <div class="checkbox_div">{{block.settings.modal_title}}
                            {% capture rdval %}
                            {{block.settings.modal_value | strip  | strip_newlines | replace : " " , "-" }}
                            {% endcapture %}
                                   {% assign rdval = rdval  | strip  | strip_newlines | replace :' ',"-" %}
                          
                                <input type="checkbox"  name="modal" value="{{rdval | strip |strip_newlines | replace :' ','-'}}" class="coll-filter" {% if current_tags contains rdval %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {% if section.settings.show_year_widget %}
                <div class="card">
                    <div class="card-header" id="headingModal11">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseModal11"><i class="fa fa-plus"></i> {{section.settings.year}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseModal11" class="collapse show" aria-labelledby="headingModal11" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for block in section.blocks %}
                            {% if block.type == "year" and block.settings.enable %}
                            <div class="checkbox_div">{{ block.settings.year_title }}
                            {% assign current_tag = current_tags | upcase %}
                                   {% assign rdval = block.settings.year  | strip  | strip_newlines | replace :' ',"-" %}
                          
                                <input type="checkbox"  name="year" value="{{rdval | strip  | strip_newlines | replace :' ','-'}}" class="coll-filter" data-currant="{{ current_tag }}" {% if current_tag contains rdval %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.show_stock_widget %}
                <div class="card">
                    <div class="card-header" id="headingModal123">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseModal123"><i class="fa fa-plus"></i> {{section.settings.availablity}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseModal123" class="collapse show" aria-labelledby="headingModal123" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="radio_div">InStock
                                <input type="radio" name="availability" value="Instock" class="coll-filter-stock ">
                                <span class="checkmark"></span>
                            </div>
                           <div class="radio_div">OutOfStock
                                <input type="radio" name="availability" value="Outofstock" class="coll-filter-stock">
                                <span class="checkmark"></span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.show_keyword_widget %}
                <div class="card">
                    <div class="card-header" id="headingModal01">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseKeyword"><i class="fa fa-plus"></i> {{section.settings.keyword_label}}</button>                     
                        </h2>
                    </div>
                    <div id="collapseKeyword" class="collapse show" aria-labelledby="headingKeyword01" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="search-div">
                              <input type="text" name="keyword" placeholder="Search" class="coll-filter" >
                              <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endcomment %} 
            </div>
        </div>
      </div>
      <div class="col-lg-9 my-2">
        <div class="row product">
          {% for product in collection.products %}
          <div class="product-main col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 text-center  {% if product.available %} available-stk {% else %} notavailable-stk{% endif %}">
            <div class="product_box">
                        <div class="product_img_box">
                            {% include 'responsive-image' with
                                image: product.featured_image,
                                image.alt: product.title,
                                max_width: 400,
                                max_height: 400
                            %}
                            {% comment %}
                            <div class="product_overlay">
                                <form action="/cart/add" method="post">
                                        <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                        <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                    <a href="{{ product.url }}" class="btn_product" title="Show Details"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <button class="btn_product" title="Add to Cart" {% if product.available %} {% else %}disabled {% endif %}><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            {% endcomment %}
                            <a href="{{product.url}}" class="product_overlay">
                            <span class="btn_product" ><i class="fa fa-eye" aria-hidden="true"></i></span>
                            <form action="/cart/add" method="post">
                                        <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                        <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                  <button class="btn_product" title="Add to Cart" {% if product.available %} {% else %}disabled {% endif %}><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                           </form>
                            </a>
                            {% if product.available %}
                            {% else %}
                            <div class="tag-badge"><span class="tag">SOLDOUT</span></div>
                            {% endif %}
                        </div>
                        <div class="product_info">
                            <a href="{{ product.url }}">
                                <h6>{{ product.title }}</h6>
                            </a>
                            <p>{{ product.price | money }}</p>
                            {% if  product.metafields.global.subtitle != blank %}
                            <span class="store-item-subtitle">{{product.metafields.global.subtitle}}</span>
                            {% endif %}<br>
                            {% if  product.metafields.global.color != blank %}
                            <span class="store-item-subtitle" style="text-transform: uppercase; font-size: 12px;">Black Milled</span>
                            {% endif %}
                            <br>
                            
                            <div class="item-info position-relative">
                            {% if  product.metafields.global.save_up != blank %}
                                <div class="store-item-promo">
                                    {{product.metafields.global.save_up}}
                                </div>
                            {% endif %}
                            {% if  product.metafields.global.packaging != blank %}
                                <div class="store-item-shipping">
                                        <i>
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.1 491.1" style="enable-background:new 0 0 491.1 491.1;" xml:space="preserve">
                                            <path transform="translate(0 -540.36)" d="M401.5,863.31c-12,0-23.4,4.7-32,13.2c-8.6,8.6-13.4,19.8-13.4,31.8s4.7,23.2,13.4,31.8
                                            c8.7,8.5,20,13.2,32,13.2c24.6,0,44.6-20.2,44.6-45S426.1,863.31,401.5,863.31z M401.5,933.31c-13.8,0-25.4-11.4-25.4-25
                                            s11.6-25,25.4-25c13.6,0,24.6,11.2,24.6,25S415.1,933.31,401.5,933.31z M413.1,713.41c-1.8-1.7-4.2-2.6-6.7-2.6h-51.3
                                            c-5.5,0-10,4.5-10,10v82c0,5.5,4.5,10,10,10h81.4c5.5,0,10-4.5,10-10v-54.9c0-2.8-1.2-5.5-3.3-7.4L413.1,713.41z M426.5,792.81
                                            h-61.4v-62.1h37.4l24,21.6V792.81z M157.3,863.31c-12,0-23.4,4.7-32,13.2c-8.6,8.6-13.4,19.8-13.4,31.8s4.7,23.2,13.4,31.8
                                            c8.7,8.5,20,13.2,32,13.2c24.6,0,44.6-20.2,44.6-45S181.9,863.31,157.3,863.31z M157.3,933.31c-13.8,0-25.4-11.4-25.4-25
                                            s11.6-25,25.4-25c13.6,0,24.6,11.2,24.6,25S170.9,933.31,157.3,933.31z M90.6,875.61H70.5v-26.6c0-5.5-4.5-10-10-10s-10,4.5-10,10
                                            v36.6c0,5.5,4.5,10,10,10h30.1c5.5,0,10-4.5,10-10S96.1,875.61,90.6,875.61z M141.3,821.11c0-5.5-4.5-10-10-10H10
                                            c-5.5,0-10,4.5-10,10s4.5,10,10,10h121.3C136.8,831.11,141.3,826.71,141.3,821.11z M30.3,785.01l121.3,0.7c5.5,0,10-4.4,10.1-9.9
                                            c0.1-5.6-4.4-10.1-9.9-10.1l-121.3-0.7c-0.1,0-0.1,0-0.1,0c-5.5,0-10,4.4-10,9.9C20.3,780.51,24.8,785.01,30.3,785.01z M50.7,739.61
                                            H172c5.5,0,10-4.5,10-10s-4.5-10-10-10H50.7c-5.5,0-10,4.5-10,10S45.2,739.61,50.7,739.61z M487.4,726.11L487.4,726.11l-71.6-59.3
                                            c-1.8-1.5-4-2.3-6.4-2.3h-84.2v-36c0-5.5-4.5-10-10-10H60.5c-5.5,0-10,4.5-10,10v73.2c0,5.5,4.5,10,10,10s10-4.5,10-10v-63.2h234.8
                                            v237.1h-82c-5.5,0-10,4.5-10,10s4.5,10,10,10h122.1c5.5,0,10-4.5,10-10s-4.5-10-10-10h-20.1v-191.1h80.6l65.2,54l-0.7,136.9H460
                                            c-5.5,0-10,4.5-10,10s4.5,10,10,10h20.3c5.5,0,10-4.4,10-9.9l0.8-151.6C491,730.91,489.7,728.01,487.4,726.11z"></path>
                                            </svg>
                                        </i>{{product.metafields.global.packaging}}
                                </div>
                            {% endif %}
                                
                            {% if  product.metafields.global.shipping != blank %}
                                <div class="store-item-shipping">
                                    <i style="background: #737373; ">
                                        <svg version="1.0" style="max-width: 20px; height: auto;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.000000 200.000000" preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                                                <path d="M230 1650 c-26 -26 -26 -64 0 -88 12 -11 74 -31 158 -51 l138 -32 71
                                                -401 c62 -345 75 -403 94 -424 l22 -24 428 0 c392 0 429 1 448 18 16 12 44 88
                                                102 267 43 138 84 258 89 267 18 32 11 58 -22 78 -64 39 -89 19 -124 -99 -14
                                                -47 -48 -157 -75 -244 l-50 -157 -359 0 c-198 0 -360 2 -360 5 0 2 -20 98 -44
                                                212 -24 114 -56 278 -71 363 -33 195 -42 227 -63 239 -22 11 -323 91 -345 91
                                                -10 0 -26 -9 -37 -20z"></path>
                                                <path d="M1364 1514 c-93 -86 -186 -173 -207 -193 l-37 -35 -83 82 c-45 45
                                                -88 82 -95 82 -17 0 -92 -70 -92 -85 0 -20 249 -250 270 -250 22 0 510 459
                                                510 479 0 17 -66 76 -84 76 -8 0 -90 -70 -182 -156z"></path>
                                                <path d="M794 544 c-83 -41 -86 -177 -4 -219 86 -44 180 13 180 110 0 50 -23
                                                89 -64 109 -42 20 -72 20 -112 0z"></path>
                                                <path d="M1372 540 c-67 -41 -78 -131 -23 -192 22 -24 37 -32 78 -35 47 -5 54
                                                -3 87 28 112 102 -14 277 -142 199z"></path>
                                            </g>
                                        </svg>
                                    </i>
                                  {{product.metafields.global.shipping}}
                                </div>
                            {% endif %}
                            {% if  product.metafields.global.start_price != blank %}                            
                                <div class="store-item-affirm">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M4771.7,4997.1c-505.6-70.1-926.4-283-1260.3-633.8c-292.7-307.2-474.1-645.8-556.3-1035.3c-43.5-208-43.5-655.5,2.4-870.8c84.7-401.5,314.5-812.7,614.4-1093.3c817.6-774.1,2089.9-778.9,2897.9-12.1c312,295.1,508,624.1,616.8,1028c70.1,268.5,70.1,764.4-2.4,1032.9c-205.6,769.2-805.5,1359.4-1555.3,1536C5287,5004.4,4970.1,5026.2,4771.7,4997.1z M5432.1,4377.9c263.7-70.2,599.9-283,771.6-491c394.3-476.5,469.3-1120,198.3-1671.5c-145.2-292.7-413.6-558.8-699.1-696.6c-246.7-116.1-423.3-157.2-699.1-152.4c-411.2,2.4-749.9,145.1-1045,437.8c-314.5,312-457.2,650.7-457.2,1088.5c0,437.8,142.7,776.5,457.2,1088.5C4358.1,4375.5,4887.8,4518.2,5432.1,4377.9z" fill="#F3F3F3"></path><path d="M4904.8,4097.3v-152.4l-123.4-43.5c-408.8-145.1-539.4-612-256.4-907.1c79.8-82.3,280.6-193.5,532.2-295.1c188.7-75,283-164.5,283-270.9c0-220.1-273.3-307.2-556.3-174.1c-72.6,33.9-157.2,84.7-186.3,111.3c-62.9,60.5-82.3,48.4-195.9-108.9l-75-106.4l77.4-72.6c108.9-101.6,183.8-142.7,345.9-195.9l142.7-46l7.3-150l7.3-150l137.9,7.3l137.9,7.2l7.2,145.1l7.3,147.6l120.9,43.5c227.4,79.8,408.8,331.4,408.8,566c0,212.9-145.1,399.1-401.6,515.2c-551.5,246.7-575.7,266.1-561.2,428.1c14.5,188.7,287.8,258.8,541.8,140.3c67.7-31.5,133-70.2,140.3-84.7c36.3-58.1,87.1-21.8,159.7,113.7l75,137.9l-70.1,62.9c-70.2,62.9-307.2,166.9-379.8,166.9c-24.2,0-36.3,41.1-41.1,152.4l-7.2,150l-137.9,7.3l-140.3,7.3V4097.3z" fill="#F3F3F3"></path><path d="M9053.2,677c-38.7-19.3-469.3-433-955.5-916.8l-882.9-882.9h-822.4c-749.9,0-829.7,4.8-904.7,43.5c-205.6,111.3-224.9,411.2-38.7,556.3c65.3,53.2,82.2,53.2,941,53.2c979.6,0,999,2.4,1083.7,171.8c55.6,104,55.6,314.5,4.8,423.3c-82.3,174.2,4.8,166.9-1896.4,166.9H3876.7L3705,229.5c-94.3-33.9-229.8-101.6-302.4-150c-72.6-48.4-437.8-396.7-815.2-771.6l-682.1-687l670-653.1c370.1-358,778.9-754.7,909.5-880.5l237-227.4l476.5,476.5L4675-2187h1473.1c1282,0,1480.4,4.8,1550.5,38.7c58.1,26.6,336.2,365.2,1018.3,1236C9234.6-251.9,9672.4,319,9689.3,360.1c41.1,91.9,2.4,210.4-94.3,295.1c-65.3,53.2-94.3,60.5-270.9,60.5C9193.5,715.7,9101.6,703.6,9053.2,677z" fill="#F3F3F3"></path><path d="M821.7-1756.4c-256.4-256.4-483.8-495.9-503.1-532.2c-19.3-36.3-29-91.9-21.8-123.4c19.3-70.2,2302.8-2353.6,2375.4-2375.4c29-7.2,82.2,0,120.9,21.8c36.3,19.3,278.2,246.7,534.6,503.1c420.9,425.7,464.4,476.5,464.4,551.5c0,77.4-79.8,164.5-1168.3,1250.6C1537.7-1371.8,1450.6-1292,1373.2-1292C1298.2-1292,1247.4-1335.5,821.7-1756.4z" fill="#F3F3F3"></path></g></g>
                                </svg>
                                <p class="affirm-as-low-as" id="learn-more" data-page-type="search" data-amount="102800" data-affirm-color="black">{{product.metafields.global.start_price}}</p>
                                </div>
                            {% endif %}
                            {% if  product.metafields.global.tire_type != blank %}
                                <div class="store-item-shipping"><i style="background-color:#87cefa;"><img src="https://cdn.shopify.com/s/files/1/0065/0048/3116/files/tier.png?v=1592318690"></i>{{product.metafields.global.tire_type}}</div>
                            {% endif %}

                            </div>
                        </div>
                    </div>
          </div>
          {% endfor %}
          {% if paginate.next %}
          <div id="more" class="col-12  mt-4 mx-auto">
            <div class="col-md-4 col-10 m-auto">
                <p><a href="{{ paginate.next.url }}" class="btn-show-more btn_body m-auto text-center">Show More</a></p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endpaginate %}

<script>
  let triggered = false;

  function ScrollExecute() {
    let moreButon = $('#more').last();
    let nextUrl = $(moreButon).find('a').attr("href");
    if ((($(moreButon).offset().top - $(window).scrollTop()) < 800) && (triggered == false)) {
      triggered = true;
      $.ajax({
          url: nextUrl,
          type: 'GET',
          beforeSend: function () {
            moreButon.remove();
          }
        })
        .done(function (data) {
          $('.product').append($(data).find('.product').html());
          triggered = false
        });
    }
  }
                        var source_array=[];
                        {% for block in section.blocks %}
                            {% if block.type == "width" and block.settings.enable %}
                                    source_array.push('{{block.settings.width_value}}');
                            {% endif %} 
                        {% endfor %}

 $( ".search-width" ).autocomplete({
    source:source_array
    });
  $(document).ready(function () {
    /*$(window).scroll(function(){
      ScrollExecute();
    });*/
   
    $('body').on('click', '#more a', function (event) {
      event.preventDefault();
      ScrollExecute();
    })
  });
</script>
<script>
$(document).ready(function(){

 var collFilters = jQuery('.coll-filter');
 //var radioValue = $("input[name='diameter']:checked").val();
   // if (radioValue != ""){
    //newTags.push(radioValue);
    //}
     
  collFilters.change(function() {
    var newTags = [];    
    collFilters.each(function() {
      if (jQuery(this).val()) {
        if ($(this).is(":checked")){
            var v=$.trim(jQuery(this).val());
            v=v.replace(" ","-");
        newTags.push(v);
        }
      }
    var name=jQuery(this).attr('name');
      if(name == 'keyword'){
        newTags.push(jQuery(this).val());
      }
    });

    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
    }
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  });
});
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
 
</script>

{% schema %}
{
"name": "Collection Shop Section",
"settings": [
    {
        "type":"checkbox",
        "label":"Show Items widget",
        "id":"show_item_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"show_items_label",
    "label":"Show Items Label",
    "default":"Show Items :"
    },
    {
        "type":"checkbox",
        "label":"Show Diameter widget",
        "id":"show_diameter_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"diameter_label",
    "label":"Diameter Widget Label",
    "default":"DIAMETER"
    },
    {
        "type":"checkbox",
        "label":"Show Height widget",
        "id":"show_height_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"height_label",
    "label":"Height Widget Label",
    "default":"Height"
    },
    {
        "type":"checkbox",
        "label":"Show Width widget",
        "id":"show_width_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"width_label",
    "label":"Width Widget Label",
    "default":"WIDTH"
    },
       {
        "type":"checkbox",
        "label":"Show Color widget",
        "id":"show_color_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"color_label",
    "label":"color Widget Label",
    "default":"COLOR"
    },
    {
        "type":"checkbox",
        "label":"Show Type widget",
        "id":"show_type_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"type_label",
    "label":"Type Widget Label",
    "default":"TYPE"
    },
     {
        "type":"checkbox",
        "label":"Show Price widget",
        "id":"show_price_widget",
        "default":true
    },
     {
        "type":"checkbox",
        "label":"Show Treadwear widget",
        "id":"show_treadwear_widget",
        "default":true
    },
    {"type":"text",
    "id":"treadwear_label",
    "label":"Treadwear Label",
    "default":"TREADWEAR"
    }
    ,
     {
        "type":"checkbox",
        "label":"Show Traction widget",
        "id":"show_traction_widget",
        "default":true
    },
    {"type":"text",
    "id":"traction_label",
    "label":"Traction Label",
    "default":"TRACTION"
    }
    ,
     {
        "type":"checkbox",
        "label":"Show Speed Rating widget",
        "id":"show_speed_rating_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"speed_rating_label",
    "label":"Speed Rating Label",
    "default":"SPEED RATING"
    },
    {
        "type":"checkbox",
        "label":"Show Load Range widget",
        "id":"show_load_range_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"load_range_label",
    "label":"Load Range Label",
    "default":"LOAD RANGE"
    },
     {
        "type":"checkbox",
        "label":"Show Load Index widget",
        "id":"show_load_index_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"load_index_label",
    "label":"Load Index Label",
    "default":"LOAD INDEX"
    },
    {
        "type":"checkbox",
        "label":"Show Brand widget",
        "id":"show_brand_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"brand_label",
    "label":"Brand Label",
    "default":"BRAND"
    },
    {
        "type":"checkbox",
        "label":"Show Modal widget",
        "id":"show_modal_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"modal_label",
    "label":"Modal Label",
    "default":"MODAL"
    },
    {
        "type":"checkbox",
        "label":"Show Year widget",
        "id":"show_year_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"year",
    "label":"Year",
    "default":"YEAR"
    },
    {
        "type":"checkbox",
        "label":"Show Stock widget",
        "id":"show_stock_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"availablity",
    "label":"Available",
    "default":"Available"
    },
    {
        "type":"checkbox",
        "label":"Show Keyword widget",
        "id":"show_keyword_widget",
        "default":true
    },
    {
    "type":"text",
    "id":"keyword_label",
    "label":"Keyword Label",
    "default":"KEYWORD"
    }
    ],
"blocks":[
    {
   "type":"show_items",
   "name":"Show Items",
    "limit":3,
   "settings":[
            {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },
            {
            "type":"number",
            "id":"item_show",
            "label":"Items to Show"
            }
   ]     
    },
    {
    "type":"diameter",
    "name":"Diameter",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },
            {
                "type":"text",
                "label":"Diameter Title",
                "id":"diameter_title"
            } ,
            {
                "type":"text",
                "label":"Diameter Value",
                "id":"diameter_value"
            } 
            ]
        },
        {
    "type":"width",
    "name":"Width",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },{
                "type":"text",
                "label":"Width Title",
                "id":"width_title"
            },
            {
                "type":"text",
                "label":"Width Value",
                "id":"width_value"
            } 
        ]

    },
    {
    "type":"height",
    "name":"Height",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            }, 
            {
                "type":"text",
                "label":"Height Title",
                "id":"height_title"
            } ,
            {
                "type":"text",
                "label":"Height Value",
                "id":"height_value"
            } 
            ]
        },
   {
    "type":"color",
    "name":"Color",
    "settings":[
            {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },{
                "type":"text",
                "label":"Color Title",
                "id":"color_title"
            } ,
            {
                "type":"text",
                "label":"Color Value",
                "id":"color_value"
            } 
        ]
    },
  {
    "type":"tiertype",
    "name":"Tier Type",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },
            {
                "type":"text",
                "label":"Type Title",
                "id":"type_title"
            }    
            ,
            {
                "type":"text",
                "label":"Type Value",
                "id":"type_value"
            } 
            ]
        },
  {
    "type":"treadwear",
    "name":"Treadwear",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },{
                "type":"text",
                "label":"Treadwear Title",
                "id":"treadwear_title"
            } ,
            {
                "type":"text",
                "label":"Treadwear Value",
                "id":"treadwear_value"
            } 
            ]
        },
    {
    "type":"traction",
    "name":"Traction",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },{
                "type":"text",
                "label":"Traction Title",
                "id":"traction_title"
            } ,
            {
                "type":"text",
                "label":"Traction Value",
                "id":"traction_value"
            } 
            ]
        },
            {
    "type":"speedrating",
    "name":"Speed Rating",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },{
                "type":"text",
                "label":"Speed Rating Title",
                "id":"speed_rating_title"
            } ,
            {
                "type":"text",
                "label":"Speed Rating Value",
                "id":"speed_rating_value"
            } 
            ]
        },
            {
    "type":"loadrange",
    "name":"Load Range",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },  {
                "type":"text",
                "label":"Load Range Title",
                "id":"load_range_title"
            } ,
            {
                "type":"text",
                "label":"Load Range Value",
                "id":"load_range_value"
            } 
            ]
        },
            {
    "type":"loadindex",
    "name":"Load Index",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },{
                "type":"text",
                "label":"Load Index Title",
                "id":"load_index_title"
            } ,
            {
                "type":"text",
                "label":"Load Index Value",
                "id":"load_index_value"
            } 
            ]
        },
   {
    "type":"brand",
    "name":"Brand",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },{
                "type":"text",
                "label":"Brand Title",
                "id":"brand_title"
            } ,
            {
                "type":"text",
                "label":"Brand Value",
                "id":"brand_value"
            } 
            ]
        },
   {
    "type":"modal",
    "name":"Modal",
    "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            },{
                "type":"text",
                "label":"Modal Title",
                "id":"modal_title"
            } ,
            {
                "type":"text",
                "label":"Modal Value",
                "id":"modal_value"
            } 
            ]
        },
        {
        "type":"year",
        "name":"Year",
        "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable",
            "default":true
            }, {
                "type":"text",
                "label":"Year Title",
                "id":"year_title"
            } ,
            {
                "type":"text",
                "label":"Year",
                "id":"year"
            } 
            ]
        },
        {
            "type":"filters_enable",
            "name":"Filter ON/OFF",
            "settings":[
                {
                "type":"collection",
                "id":"main_collection",
                "label":"Main Collection"
                },
                {
                    "type": "checkbox",
                    "id": "enable_diameter",
                    "label": "Diameter Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "diameter_widget_title",
                    "label": "Diameter Filter Title",
                    "default": "Wheel Diameter"
                },
                {
                    "type": "checkbox",
                    "id": "enable_height",
                    "label": "Height Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "height_widget_title",
                    "label": "Height Filter Title",
                    "default": "Wheel Height"
                },
                {
                    "type": "checkbox",
                    "id": "enable_width",
                    "label": "Width Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "width_widget_title",
                    "label": "Width Filter Title",
                    "default": "Wheel Width"
                },
                {
                    "type": "checkbox",
                    "id": "enable_color",
                    "label": "Color Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "color_widget_title",
                    "label": "Color Filter Title",
                    "default": "Color"
                },
                {
                    "type": "checkbox",
                    "id": "enable_type",
                    "label": "Type Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "type_widget_title",
                    "label": "Tire Type Filter Title",
                    "default": "Tire Type"
                },
                 {
                    "type": "checkbox",
                    "id": "enable_treadwear",
                    "label": "Treadwear Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "treadwear_widget_title",
                    "label": "Treadwear Filter Title",
                    "default": "Treadwear"
                },
                 {
                    "type": "checkbox",
                    "id": "enable_traction",
                    "label": "Traction Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "traction_widget_title",
                    "label": "Traction Filter Title",
                    "default": "Traction"
                },
                 {
                    "type": "checkbox",
                    "id": "enable_speed_rating",
                    "label": "Speed Rating Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "speed_rating_widget_title",
                    "label": "Speed Rating Filter Title",
                    "default": "Speed Rating"
                },
                 {
                    "type": "checkbox",
                    "id": "enable_load_range",
                    "label": "Load Range Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "load_range_widget_title",
                    "label": "Load Range Filter Title",
                    "default": "Load Range"
                },
                {
                    "type": "checkbox",
                    "id": "enable_load_index",
                    "label": "Load Index Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "load_index_widget_title",
                    "label": "Load Index Filter Title",
                    "default": "Load Index"
                },
                {
                    "type": "checkbox",
                    "id": "enable_brand",
                    "label": "Brand Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "brand_widget_title",
                    "label": "Brand Filter Title",
                    "default": "Brand"
                },
                 {
                    "type": "checkbox",
                    "id": "enable_model",
                    "label": "Model Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "model_widget_title",
                    "label": "Model Filter Title",
                    "default": "Model"
                },
                 {
                    "type": "checkbox",
                    "id": "enable_year",
                    "label": "Year Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "year_widget_title",
                    "label": "Year Filter Title",
                    "default": "Year"
                },
                 {
                    "type": "checkbox",
                    "id": "enable_availability",
                    "label": "Availability Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "availability_widget_title",
                    "label": "Availability Filter Title",
                    "default": "Availability"
                },  
                {
                    "type": "checkbox",
                    "id": "enable_keyword",
                    "label": "Keyword Filter Enable",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "keyword_widget_title",
                    "label": "Keyword Filter Title",
                    "default": "Keyword"
                }
            ]

        }
]
}
{% endschema %}