{% if section.settings.enable_section %}
<section class="py-5 contact-us">
    <div class="container">
        {% if section.settings.title != blank %}
            <div class="row">
                <div class="col-12 text-center pb-3">
                    <h1 class="title mb-3">{{ section.settings.title }}</h1>
                </div>
            </div>
        {% endif %}
        {% if section.settings.description != blank %}
        <div class="row mb-lg-5 mb-md-3 mb-sm-3" >
            <div class="col-10 content-div text-center m-auto ">
            <p>{{section.settings.description}}</p>
            </div>
        </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5 msp-order acc mt-2 ">
                <div class="mb-5">
                    {% if section.settings.detail_title_contact != blank %}
                        <h5 class="text-uppercase font-weight-bold">{{ section.settings.detail_title_contact}}</h5>
                    {% endif %}
                    {% if section.settings.detail_subtitle_contact != blank %}
                        <p class="mb-0">{{ section.settings.detail_subtitle_contact }}</p>
                    {% endif %}
                </div>
                {% form 'customer', id: 'contact-form' %}
                    <div class="form-group input-form mb-0">
                        <div class="input-form">
                            <input type="text" class="form-control" name="contact[name]" id="exampleFormControlInput1" placeholder="Name">
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0 form-group input-form">
                                <input type="email" name="contact[email]" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="col-12 col-lg-6 input-form">
                                <input type="text" name="contact[contact-no]" class="form-control" id="contact-no" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="contact-form input-form">
                            <textarea class="form-control" name="contact[Message]" placeholder="Message" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        <div class="input-form mb-0">
                            <button type="Submit" class="button-all banner-btn mr-3">Send</button>
                        </div>
                    </div>
                {% endform %}
            </div>
            <div class="col-12 col-md-6 col-lg-5 ms-order contact-form mt-2">
                <div class="mb-5">
                    {% if section.settings.detail_title != blank %}
                        <h5 class="text-uppercase font-weight-bold">{{ section.settings.detail_title }}</h5>
                    {% endif %}
                    {% if section.settings.detail_subtitle != blank %}
                        <p class="mb-0">{{ section.settings.detail_subtitle }}</p>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {% if section.settings.sidebar_title != blank %}
                        <h5 class="text-uppercase font-weight-bold">{{ section.settings.sidebar_title }}</h5>
                    {% endif %}
                    {% if section.settings.sidebar_address != blank %}
                        <span class="d-flex align-items-center mb-3">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p class="pl-2 m-0">{{ section.settings.sidebar_address }}</p>
                        </span>
                    {% endif %}
                    {% if section.settings.sidebar_contactno != blank %}
                        <span class="d-flex align-items-center mb-3">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p class="pl-2 m-0">{{ section.settings.sidebar_contactno }}</p>
                        </span>
                    {% endif %}
                    {% if section.settings.sidebar_email != blank %}
                        <span class="d-flex align-items-center mb-3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p class="pl-2 m-0">{{ section.settings.sidebar_email }}</p>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
    {
      "name": "Contact us",
      "settings": [
        {
            "type": "checkbox",
            "id": "enable_section",
            "label": "Enable Section?"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "SHOP OUR INSTAGRAM"
        },
        {
            "type":"textarea",
            "id":"description",
            "label":"Description"
        }
        ,
        {
            "type": "header",
            "content": "Sidebar"
        },
        {
            "type": "text",
            "id": "sidebar_title",
            "label": "Title",
            "default": "VISIT OUR CLUB"
        },
        {
            "type": "textarea",
            "id": "sidebar_address",
            "label": "Address",
            "default": "100 Biscayne Blvd, Florida 33148"
        },
        {
            "type": "textarea",
            "id": "sidebar_contactno",
            "label": "Contact No.",
            "default": "(305) 555-4446"
        },
        {
            "type": "textarea",
            "id": "sidebar_email",
            "label": "Email",
            "default": "support@rinesandwheels.com"
        },
        {
            "type": "header",
            "content": "Get in Touch"
        },
        {
            "type": "text",
            "id": "detail_title",
            "label": "Title",
            "default": "GET IN TOUCH"
        },
        {
            "type": "textarea",
            "id": "detail_subtitle",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut."
        },
                {
            "type": "header",
            "content": "Contact Form"
        },
        {
            "type": "text",
            "id": "detail_title_contact",
            "label": "Title",
            "default": "Send Us a Message "
        },
        {
            "type": "textarea",
            "id": "detail_subtitle_contact",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut."
        }
      ]
    }
  {% endschema %}