{% if section.settings.enable_section %}
<section class="quiz-section">
{% include 'quiz' %}
</section>
{% endif %}

{% schema %}
  {
    "name": "Quiz Section",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_section",
            "label": "Enable Section?"
        },
        {
            "type": "text",
            "id": "tag_line",
            "label": "Tag Line"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "header",
            "content": "Quiz"
        },
		{
        "id": "f_title",
        "type": "text",
        "label": "1st Title"
        },
		{
        "id": "s_title",
        "type": "text",
        "label": "2nd Title"
        },
		{
        "id": "t_title",
        "type": "text",
        "label": "3rd Title"
        },
		{
        "id": "fourth_title",
        "type": "text",
        "label": "4rd Title"
        },
        {
          "type":"checkbox",
          "id":"enable_btn",
          "label":"Enable Button"
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"Button Url"
        },
        {
          "type":"text",
          "label":"Button label",
          "id":"button_label"
        }
	],
 "blocks": [
    {
      "type": "brad",
      "name": "Quiz Brand",
      "settings": [
        {
          "id": "brand_img",
          "type": "image_picker",
       	  "label": "Image"
        },
        {
          "id": "brand",
          "type": "text",
          "label": "Brand"
        },
		{
          "id": "tag_brand",
          "type": "text",
          "label": "Tag"
        }
      ]
    },
	  {
      "type": "year",
      "name": "Quiz Year",
      "settings": [
        {
          "id": "year_img",
          "type": "image_picker",
       	  "label": "Image"
        },
		{
          "id": "year",
          "type": "text",
          "label": "year"
        },
		{
          "id": "tag_year",
          "type": "text",
          "label": "Tag year"
        },
        {
          "id": "type",
          "type": "text",
          "label": "Brand"
        }
      ]
    },
	{
      "type": "model",
      "name": "Quiz Model",
      "settings": [
        {
          "id": "model_img",
          "type": "image_picker",
       	  "label": "Image"
        },
		{
          "id": "model",
          "type": "text",
          "label": "Model"
        },
		{
          "id": "tag_model",
          "type": "text",
          "label": "Tag model"
        },
        {
          "id": "type",
          "type": "text",
          "label": "Brand"
        }
      ]
    },
	{
      "type": "ring",
      "name": "Quiz Ring",
	  "limit": 5,
      "settings": [
        {
          "id": "ring_img",
          "type": "image_picker",
       	  "label": "Image"
        },
		{
          "id": "ring",
          "type": "text",
          "label": "Model"
        },
		{
          "id": "tag_ring",
          "type": "text",
          "label": "Tag Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Call to Action Blocks",
      "category": "CTA button"
	}
]
  }
{% endschema %}