.about-section{
    padding-top:60px;
    // background:#F2F3F3;
    .about_logo{
        margin-bottom:30px;
        img{
            width:300px;
        }
    }
    .about_img_div{
        img{
            width:100%;
        }
    }
    .about-content{
        p{
            font-size:25px;
            color:#000;
            font-weight:550;
        }
    }
}
@media only screen and (max-width:767px){
    .about-banner {
        .about-content {
            h2{
                font-size: 53px;
            }
        }
    }
    .about-section {
        .about_logo {
            margin-bottom: 30px;
            img{
                width:250px;
            }
        }
    }
}