.about-banner{
    position:relative;
    overflow:hidden;
    img{
        @include bg-img;
        max-height: 100% !important;
        max-width:100% !important;
    }
    .about-content{
        padding:120px 0;
        h2{
            text-align: center;
            color:#fff;
            font-size:100px;
            text-transform: uppercase;
            margin-bottom:40px;
        }
        .sub_line{
            color:#fff;
            font-size:20px;
            text-align:center;
        }
    }
}