.about-review-section{
    padding:100px 0;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    margin:30px 0;
    .quotes_image{
        width:50px;
        text-align:center;
        margin:30px 0;
    }
    .review_box{
        color:#fff;
        text-align:center;
        .review_content{
            font-size:24px;
            margin-bottom:40px;
        }
        .author_name{
            font-size:30px;
            color:#fff;
        }
    }
}
@media only screen and (max-width:991px){
    .about-review-section {
        background-size: cover;
    }
}