.benefits-section{
    background:#F2F3F3;
    padding-top:60px;
    .title_div{
        margin-bottom:60px;
        h3{
            color:#000;
            text-align:left;
        }
    }
    .benefit-content{
        .benefit_box{
            background: #fff;
            padding:20px;
            margin-bottom:40px;
            .benefit_icon{
                width:60px;
                margin-bottom:30px;
                margin-top:-40px;
            }
            h6{
                font-size:17px;
                margin-bottom:20px;
            }
            p{
                font-size:15px;
                margin-bottom:0;
            }
        }
    }
    .img_div_benefit{
        img{
            width:100%;
        }
    }
}

@media only screen and (max-width:991px){
    .benefits-section{
        .benefit-content{
            .row{
                margin:0;
            }
        }
        .img_div_benefit{
            display:none;
        }
    }
}