.follow-us{
    padding:40px 0;
    .title-div{
        text-align: center;
        h3{
            margin-bottom:30px;
        }
        p{
            font-size:18px;
            margin-bottom:30px;
        }
        .social_ul{
            list-style: none;
            padding-left: 0;
            li{
                display: inline-block;
                margin:0 20px;
                a{
                    display: block;
                    img{
                        max-width:40px;
                        width:auto;
                    }
                }
            }
        }
    }
}