.our-missiion{
    background:#F0F0F0;
    .container-fluid{
        padding:0;
    }
    .join-us{
        text-align:center;
        padding:30px 0;
        h3{
            margin-bottom:0;
        }
        p{
            width:50%;
            margin:25px auto;
            font-size:17px;
        }
        .btn_banner{
            margin:auto;
            font-size: 17px;
        }
    }
    .our-mission-main_div{
        position: relative;
        padding:30px 0 !important;
        background-size: cover;
        .our-mission-div{
            text-align:center;
            padding:30px 0;
            color:#fff;
            h3{
                margin-bottom:0;
                color:#fff;
            }
            p{
                width:50%;
                margin:25px auto;
                font-size:20px;
            }
        }
    }
}

@media only screen and (max-width:991px) and (min-width:768px){
    .our-missiion {
        .join-us {
            p {
                width: 80%;
            }
        }
        .our-mission-main_div {
            .our-mission-div {
                p {
                    width: 80%;
                }
            }
        }
    }
}
@media only screen and (max-width:767px){
    .our-missiion {
        .join-us {
            p {
                width: 80%;
            }
        }
        .our-mission-main_div {
            .our-mission-div {
                p {
                    width: 80%;
                }
            }
        }
    }
}