.suceed-section{
    .container-fluid{
        padding:0;
    }
    .img-div{
        position:relative;
        overflow: hidden;
        &::before{
            content: '';
            padding-top:54%;
            display:block;
        }
        img{
            @include product-img;
            height: 100%;
        }
    }
    .content_div{
        padding:40px 50px !important;
        h3{
            margin-bottom:20px;
        }
        p{
            color:#000;
            font-size:18px;
            margin-bottom:0;
        }
    }
    .img_div_suceed{
        position:relative;
        overflow: hidden;
        &::before{
            content: '';
            padding-top:100%;
            display:block;
        }
        img{
            @include product-img;
            height: 100%;
        }
    }
}