.article-section {
    padding:50px 0;
    .blog_box{
        margin-bottom:30px;
        .blog_img_div{
            position: relative;
            overflow: hidden;
            margin-bottom:20px;
            &::before{
                content:'';
                padding-top:45%;
                display:block;
            }
            img{
                @include product-img;
                height:100%;
                max-height: 100% !important;
            }
        }
    }
     .blog-popular-post{
        padding:15px;
        background: #F2F3F3;
        h3{
            margin-bottom:15px;
            font-size:25px;
         }
         .pop-blogs{
            margin-bottom:20px;
            &:last-child{
                margin-bottom:0;
            }
            .blog_img_div{
                position: relative;
                margin-bottom:10px;
                &::before{
                    content:'';
                    padding-top:50%;
                    display: block;
                }
                .blog-img{
                    @include product-img;
                    height:100%;
                 }
            }
            p{
                margin-bottom:5px;
            }
             h5 {
                a{
                    font-size:18px;
                    color:$black;
                    &:hover{
                        color:$red;
                     }
                 }
             }
         }
     }
}
 @media only screen and (min-width:768px) and (max-width:992px){
    .article-section {
        .blog-main-div {
            .blog-title{
                font-size:22px
            }
        }
        .blog-popular-post{
            h3{
                font-size:18px
            }
            .pop-blogs {
                h5 {
                    a{
                        font-size:13px
                    }
                }
            }
        }
    }
     
 }