.banner-section{
    position:relative;
    overflow:hidden;
    img{
        @include bg-img;
    }
    .banner-content{
        padding:120px 0;
        h2{
            text-align: center;
            color:#fff;
        }
    }
}