.faq-section {
    .title {
        h1 {
            font-size: 40px;
            font-family: "Calibre Medium";
            color: $mossgreen;
        }
    }
    .accordion {
        .card-header {
            h2 {
                font-size: 2.625rem;
                button {
                    color: $clovergreen;
                }
            }
            button {
                width: 100%;
                text-align: left;
            }
        }
        .button-all {
            padding: 5px 15px;
            font-size: 13px;
        }
    }
}