.track-order {
    h3 {
        color: $mossgreen;
        font-weight: 500;
        font-family: "Calibre Medium";
    }
    .button-all {
        padding: 5px 16px !important;
        &:hover {
            background: #252932;
            color: #fff !important;
            border: 2px solid #252932;
        }
        &:focus {
            background: #252932;
            color: #fff !important;
            border: 2px solid #252932;
        }
    }
    .form-control {
        &:hover {
            border: none;
        }
        &:focus {
            box-shadow: none;
        }
    }
}