.warranty-section{
    padding:50px 0;
    .note-div{
        background:#f2f3f3;
        border:1px solid #dde4e4;
        padding:30px;
        border-radius:5px;
        margin-bottom:40px;
    }
    .content_div{
        margin-bottom:50px;
        h4{
            border-bottom: 3px solid #000;
            margin-bottom:30px;
        }  
        .btn_body{
            margin:auto;
        }
    }
    .content_div_2{
        h4{
            border-bottom: 3px solid #000;
            margin-bottom:30px;
        }
        .main_content_box{
            margin-bottom:30px;
            h6{
                color:#000;
                font-size:15px;
            }
            .image_content{
                position:relative;
                overflow: hidden;
                margin-bottom:15px;
                &::before{
                    content: '';
                    padding-top:70%;
                    display: block;
                }
                img{
                    @include product-img;
                    height:100%;
                }
            }
        }
    }
    .form_div{
        margin-top:50px;
        label{
            display: block;
            color:#000;
            font-size:18px;
            text-transform: uppercase;
            font-weight:550;
        }
        .form_in{
            width:100%;
            padding:15px;
            margin-bottom:15px;
        }
    }
}