<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}" style="padding-bottom:0px !important;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
  {{ page_title }}
  {%- if current_tags -%}
  {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {%- endif -%}
  {%- if current_page != 1 -%}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {%- endif -%}
  {%- assign escaped_page_title = page_title | escape -%}
  {%- unless escaped_page_title contains shop.name -%}
  &ndash; {{ shop.name }}
  {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}
 <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>
  <script src="{{ 'jquery-2.2.4.min.js' | asset_url }}" ></script> 
  {% include 'script-tags', layout: 'theme' %}
  <script src="{{ 'jquery.zoom.min.js' | asset_url }}" defer="defer"  defer script-defered defer></script>

  {% capture cfh %}
                  {{ content_for_header }}
                  {% endcapture%}
                  {% include 'cfh-optimized' with cfh %}
</head>


<body id="{{ page_title | handle }}" data-shopifyJson="" class="many-gold-spark template-{{ template.name | handle }} ">
  {% section 'header' %}
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% comment %}
  {% include 'cart-drawer' %}
  {% endcomment %}
  {% section 'footer' %}
    
{{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <script>
jQuery(function() {
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
  });
});
</script>
  <script >
//<![CDATA[
      var Shopify = Shopify || {};
      localStorage.setItem("Shopify_store_url",Shopify.shop);
      localStorage.setItem("Shopify_store_id", Shopify.theme.id); 
//]]>
</script>
</body>

</html>